mixin big-item--with-big-date(img, collection, big_date1, big_date2, name, content, date, view, msg, className)
    .big-item.big-item--type1(class = className )
        .big-item__inner(style="background-image: url(" + img + ")")
            .big-item__info
                .big-item__collection
                    a(href="#")= collection
                .big-item__big-date
                    span= big_date1
                    span= big_date2
                .big-item__name
                    a(href="#")=  name
                .big-item__content= content
                .big-item__data
                    .big-item__date= date
                    .big-item__count-view= view
                    .big-item__count-msg= msg
