mixin big-item--ico(img, collection, name, content, date, view, msg,  ico,className)
    .big-item.big-item--catalog(class = className )
        .big-item__inner(style="background-image: url(" + img + ")" )
            a(href="#").big-item__images(style="background-image: url(" + img + ")" )
            .big-item__info
                .big-item__collection
                    a(href="#")= collection
                .big-item__ico
                    img(src=ico, alt='ico')
                .big-item__name
                    a(href="#")=  name
                .big-item__content= content
                .big-item__data
                    //.big-item__favorites--active для активного
                    .big-item__favorites
