mixin big-item(img, collection, name, content, date, view, msg, className)
    .big-item(class = className )
        .big-item__inner(style="background-image: url(" + img + ")" )
            a(href="#").big-item__images(style="background-image: url(" + img + ")" )
            .big-item__info
                .big-item__collection
                    a(href="#")= collection
                .big-item__name
                    a(href="#")=  name
                .big-item__content= content
                .big-item__data
                    .big-item__date= date
                    .big-item__count-view= view
                    .big-item__count-msg= msg
