mixin brand(img, type, name, address, address2, classname)
    .brand(class= classname)
        a(href="#").brand__images
            img(src=img, alt='img')
        .brand__inner
            .brand__type
                a(href="#")= type
            .brand__name
                a(href="#")= name
            .brand__address= address
                | <br>
                = address2