//include icon
include paginations
include breadcrump
include heading
include big-slide
include big-slide--video
include small-info
include small-item
include small-item--video
include small-item--with-content-big-date
include small-item--with-content
include name-section
include section
include section_name
include banner
include big-item
include big-item--with-big-date
include big-item--ico
include brand
include company-slide