mixin name-section(name)
    .name-section
        .container
            .name-section__wrapp
                .name-section__inner
                    .name-section__ico
                    a(href="#").name-section__name= name