mixin section(name1, name2)
    .section
        .container
            .section__inner
                a(href="#").section__item= name1
                .section__line
                a(href="#").section__item.section__item--next-section= name2