mixin small-info(img, department, name, content)
    .small-info
        a(href="#").small-info__images
            img(src=img, alt='img')
        .small-info__inner
            a(href="#").small-info__department= department
            a(href="#").small-info__name= name
            .small-info__content= content