mixin small-item--with-content-big-date(img, big_date1, big_date2, collection, name, content, date, view, msg)
    .small-item.small-item--type2
            a(href="#").small-item__images
                img(src=img, alt='img')
                .small-item__big-date
                    span= big_date1
                    span= big_date2
            .small-item__inner
                a(href="#").small-item__collection= collection
                a(href="#").small-item__name= name
                .small-item__content= content
                .small-item__data
                    .small-item__date= date
                    .small-item__count-view= view
                    .small-item__count-msg= msg