mixin small-item(img, collection, name, date, view, msg, ssm_bg)
    .small-item
            a(href="#").small-item__images
                img(src=img, alt='img')
            .small-item__inner(data-bg= ssm_bg)
                a(href="#").small-item__collection= collection
                a(href="#").small-item__name= name
                .small-item__data
                    .small-item__date= date
                    .small-item__count-view= view
                    .small-item__count-msg= msg