mixin small-item--video(img, collection, name, date, view, msg)
    .small-item
        .small-item__play-video.play-video-inner
            a(rel="nofollow" href="https://www.youtube.com/watch?v=SCuY6osbOTs").play-video
        a(href="#").small-item__images
            img(src=img, alt='img')
        .small-item__inner
            a(href="#").small-item__collection= collection
            a(href="#").small-item__name= name
            .small-item__data
                .small-item__date= date
                .small-item__count-view= view
                .small-item__count-msg= msg