.banner {
//  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  position: relative;
  transition: .3s;
  margin-bottom: 20px;
  height: auto;
  min-height: 362px;
  overflow: hidden;

  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  @include to_width(767px){
    margin-bottom: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transition: .3s;
    opacity: 0;
  }

  &:hover {

    &:before {
      opacity: 1;
      background: rgba(255, 255, 255, .2);
    }
  }
}