.preview-slider {
  //  height: 100%;
  height: 364px;
  margin-bottom: 22px;
  overflow: hidden;

  @include to_width($ssm){
    margin: 0 -13px 12px -13px;
  }

  .slick-next {
    right: 25px;
    z-index: 3;
    transform: rotate(-135deg) !important;
  }

  .slick-prev {
    left: 25px;
    z-index: 3;

  }

  .slick-arrow {
    font-size: 0;
    line-height: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #fff;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(45deg);

    &:before {
      content: '';
    }
  }
}

.big-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  width: 100%;
  height: 100%;
  min-height: 364px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  outline: none;
  position: relative;
  color: #fff;
  text-align: center;


  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border: 9px solid transparent;
    transition: .3s;
  }

  &__play-video{
    margin-bottom: 20px;
  }

  &__data {
    flex: 1;
    color: #cccccc;
    font-size: 11px;
    display: flex;
    margin: 0 -8px;
    align-items: flex-end;
  }

  &__date {
    padding: 0 8px;
  }

  &__count-view {
    padding: 0 8px;
    @include i;
    @include i-ico-eye--white;

    &:before {
      margin-right: 10px;
    }
  }

  &__count-msg {
    padding: 0 8px;
    @include i;
    @include i-ico-msg--white;

    &:before {
      margin-right: 10px;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__collection {
    font-size: 10px;
    color: #fff;
    line-height: 1;
    margin-bottom: 7px;
    outline: none;

    &:hover {
      color: $brown;
    }
  }

  &__name {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 7px;
    outline: none;

    @include to_width($ssm){
      font-size: 30px;
    }

    &:hover{
      color: $brown;
    }
  }

  &__content{
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px;
  }

  &--hover{

    &:before{
      background: rgba(0, 0, 0, 0.7);
      border-color: $brown;
    }
  }
}