.brands-slider {
  padding: 0 25px;

  @include to_width($md) {
    margin-bottom: 0;
  }

  @include to_width($ssm) {
    padding: 0;
  }

  .slick-next {
    right: 0px;
    z-index: 3;
    transform: rotate(-135deg) !important;
  }

  .slick-prev {
    left: 0px;
    z-index: 3;

  }

  .slick-arrow {
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    border: 2px solid $brown;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(45deg);

    &:before {
      content: '';
    }
  }

  &__item {
    outline: none;
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &--all-brands{

    .brand{
      width: 33.3333%;

      @include to_width($sm) {
        width: 50%;
      }

      @include to_width($ssm) {
        display: block;
        padding: 0 10px 10px 10px;
      }

      &:nth-last-child(1),
      &:nth-last-child(2){
        padding: 0 10px 60px 10px;
      }
    }
  }
}

.brand {
  padding: 0 10px 60px 10px;
  width: 50%;
  display: flex;

  @include to_width($ssm) {
    //flex-wrap: wrap;
    display: block;
    padding: 0 10px 10px 10px;
  }

  &__images {
    margin-right: 25px;
    outline: none;

    @include to_width($ssm) {
      width: 100%;
      display: block;
      margin: 0 0 20px 0;
    }

    img {
      filter: grayscale(100%);
      transition: .4s;
    }
  }

  &__inner {
    flex: 1;
  }

  &__address {
    line-height: 1.2;

    @include to_width($ssm) {
      font-size: 12px;
    }
  }

  &__type {
    outline: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;

    @include to_width($ssm) {
      font-size: 9px;
    }

    a {
      color: #000;
      outline: none;

      &:hover {
        color: $brown;
      }
    }
  }

  &__name {
    outline: none;
    color: #000;
    font-weight: 700;

    a {
      color: #000;
      outline: none;

      &:hover {
        color: $brown;
      }
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    padding-bottom: 0;
  }

  &--hover {

    .brand__name {
      color: $brown;

      a {
        color: $brown;
      }
    }

    .brand__images {

      img {
        filter: grayscale(0%);
      }
    }
  }
}