.breadcrumb-mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    a {
      position: relative;
      padding-left: 15px;
      padding-right: 0;

      &:before {
        transform: rotate(-135deg);
        right: auto;
        left: 0;

      }
    }
  }
}

.breadcrumb {
  margin-bottom: 22px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  li {
    padding-right: 15px;
    font-weight: 700;

    &:first-child {
      width: 32px !important;
      margin-right: 4px !important;

      a {
        padding-right: 12px !important;
      }

      span {
        background: url('../images/ico-breadcrumb.png') no-repeat;
        width: 13px;
        height: 11px;
        display: inline-block;
      }
    }

    &:last-child {
      padding-right: 0;

      span {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 20px;
        padding-right: 25px;
      }

      a {
        &:before {
          content: none;
        }
      }
    }

    &.active {
      padding-right: 0;

      span {
        opacity: 0.7;
        font-size: 12px;
        text-transform: uppercase;
      }

      a {
        opacity: 0.7;
        pointer-events: none;

        &:before {
          content: none;
        }
      }
    }
  }

  a {
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    transition: .3s;
    color: #000;
    text-transform: uppercase;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 3px;
      width: 6px;
      height: 6px;
      border: 1px solid #000;
      border-left: 0;
      border-bottom: 0;
      transition: .3s;
      transform: rotate(45deg);
    }

    &:hover {
      color: #000;
      opacity: 0.7;

      &:before {
        border-color: #000;
        opacity: 0.7;
      }
    }
  }

  @media screen and (max-width: 991px) {
    margin: 20px 0;
    padding-left: 2px;
  }

  &--new{
    display: flex;
    align-items: center;
    position: relative;
    color: $brown;
    margin-bottom: 15px;

    @media screen and (max-width: 767px){
      display: none;
    }

    li {
      padding-right: 0;
      font-weight: 400;

      &:last-child {
        padding-right: 0;
        font-weight: 900;

        span {
          font-size: 12px;
          text-transform: uppercase;
          line-height: 20px;
          padding-right: 25px;
        }

        a {
          &:before {
            content: none;
          }
        }
      }

      &.active {
        padding-right: 0;
        color: $brown;
        font-weight: 900;

        span {
          opacity: 1;
        }

        a {
          pointer-events: none;

          &:before {
            content: none;
          }
        }
      }

      &:first-child{
        width: auto !important;
        margin-right: auto !important;

        a{
          padding-right: 0 !important;
        }

        span{
          background: none;
          width: auto;
          height: auto;
          padding-right: 0 !important;
        }
      }

      a{
        padding-right: 0 !important;
        margin-right: 0 !important;
        color: #c09651;
        display: flex;
        align-items: center;


        &:before{
          content: none !important;
        }


        &:after{
          content: '/';
          display: block;
          margin: 0 3px;
          color:  $brown;
          font-size: 12px;
        }
      }



    }

    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background: $brown;
      flex: 1;
      display: block;
    }

  }

  &--compress {
    position: relative;
    overflow: hidden;

    ul {
      display: inline-flex;
      flex-wrap: nowrap;
    }

    .item-press {
      position: relative;
      margin-right: 10px;
      display: flex;
      align-items: center;
      padding-right: 0;

      &:after {
        //        content: '...';
        content: none;
        font-size: 14px;
        line-height: 20px;
        color: #999;
        padding-left: 3px;
      }

      &.active {

        &:before {
          content: none;
        }
      }

      a {
        width: auto;
        max-width: 50px;
        overflow: hidden;
        display: block;
        transition: 1s;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;

        &:before {
          //          content: none;
          right: 1px;
        }

        &:hover {

          max-width: 1000px;
        }
      }

      a {

        &:hover {
          padding-right: 15px;
        }
      }
    }

    li a,
    li span {
      white-space: nowrap;
    }
  }
}
