.company-slider {
  height: 416px;
  overflow: hidden;

  @include to_width($md) {
    //    margin-bottom: 0;
  }

  @include to_width($ssm) {
    height: 220px;
  }

  .slick-next {
    right: 20px;
    z-index: 3;
    transform: rotate(-135deg) !important;
  }

  .slick-prev {
    left: 20px;
    z-index: 3;

  }

  .slick-arrow {
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    border: 2px solid #fff;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(45deg);

    &:before {
      content: '';
    }
  }

  &__item {
    height: 416px;

    @include to_width($ssm) {
      height: 220px;
    }
  }

  .slick-list {
    height: 100%;
  }

  .slick-dots {
    bottom: 10px;

    li {
      width: auto;
      height: auto;
      margin: 0 3px;
      border-radius: 50%;

      @include to_width($ssm) {
        margin: 0 2px;
      }

      button {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 8px;
        height: 8px;

        @include to_width($ssm) {
          width: 6px;
          height: 6px;
          padding: 2px;
        }

        &:before {
          content: none;
        }
      }

      &.slick-active {
        background: #fff;
      }
    }
  }
}

.company-slide {
  display: flex;
  padding: 25px 20px;
  height: 100%;
  color: #fff;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  &__inner {
    position: relative;
    z-index: 3;
    text-align: center;
  }

  &__type {
    font-size: 10px;
    padding-bottom: 35px;
    color: #fff;
    transition: .3s;

    &:hover {
      color: $brown;
    }

    a {
      font-size: 10px;
      padding-bottom: 40px;
      color: #fff;
      outline: none;

      &:hover {
        color: $brown;
      }
    }
  }

  &__name {
    font-size: 40px;
    font-weight: 900;
    line-height: 2px;
    padding-bottom: 35px;

    &:hover {
      color: $brown;
    }

    a {
      font-size: 40px;
      font-weight: 900;
      line-height: 1;
      color: #fff;
      outline: none;

      &:hover {
        color: $brown;
      }
    }
  }

  &__content {
    font-size: 18px;

  }
}