.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 30px;
  color: #000;
  font-weight: 700;
  //  text-transform: uppercase;
  line-height: 1.35;

  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 575px) {
    margin-bottom: 20px;
  }
}

.h1 {
  font-size: 27px;

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }

  @media screen and (max-width: 575px) {
    font-size: 20px;
  }

  &.small {
    font-size: 20px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
    }
  }
}

.h2 {
  font-size: 27px;
  margin-bottom: 25px;

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }

  @media screen and (max-width: 575px) {
    font-size: 18px;
  }
}

.h3 {
  font-size: 25px;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }

  @media screen and (max-width: 575px) {
    font-size: 17px;
  }
}

.h4 {
  font-size: 20px;
  margin-bottom: 15px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}

.h5 {
  font-size: 18px;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }

  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}

.h6 {
  font-size: 16px;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }

  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}

.content {
  color: #000;

  //  padding-bottom: 30px;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
    color: #000;
    font-weight: 700;
    //    text-transform: uppercase;
    line-height: 1.35;

    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  h1 {
    font-size: 27px;

    @media screen and (max-width: 767px) {
      font-size: 22px;
    }

    @media screen and (max-width: 575px) {
      font-size: 20px;
    }

    &.small {
      font-size: 20px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }
    }
  }

  h2 {
    font-size: 27px;
    margin-bottom: 25px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 25px;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }

    @media screen and (max-width: 575px) {
      font-size: 17px;
    }
  }

  h4 {
    font-size: 20px;
    margin-bottom: 15px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    @media screen and (max-width: 575px) {
      font-size: 16px;
    }
  }

  h5 {
    font-size: 18px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }

  h6 {
    font-size: 16px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }

  .accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    text-transform: uppercase;
    border-left: 1px solid $brown;
    border-right: 1px solid $brown;

    &__content {
      font-size: 16px;
      color: #000;
      line-height: 24px;
      font-weight: 300;
      padding-top: 10px;
      text-transform: none;
    }

    li {
      position: relative;
      padding: 12px 10px 12px 40px;
      border-bottom: 1px solid $brown;
      font-size: 18px;
      color: #c69d5e;
      font-weight: 700;
      cursor: pointer;
      transition: .3s;
      color: rgba(198, 157, 94, 0.7);

      @media screen and (max-width: 767px) {
        font-size: 12px;
      }

      &:first-child {
        border-top: 1px solid #c69d5e;

      }

      &:last-child {
        padding: 12px 10px 12px 40px;
      }

      &:after {
        content: '';
        position: absolute;
        background: #c69d5e;
        left: 14px;
        width: 2px;
        height: 10px;
        border: none;
        top: 18px;
        transition: .3s;
        transform: rotate(90deg);
        border-radius: 0;
        box-shadow: none;
      }

      &:before {
        content: '';
        position: absolute;
        background: #c69d5e;
        left: 10px;
        width: 10px;
        height: 2px;
        border: none;
        top: 22px;
        border-radius: 0;
        box-shadow: none;
      }

      &.collapsed {
        color: rgba(198, 157, 94, 1);

        &:after {
          transform: rotate(0deg);
        }

        &:hover {
          color: rgba(198, 157, 94, 0.7);
        }
      }
    }
  }

  .accordion-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      line-height: 24px;

      &:before {
        content: none;
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        padding-left: 45px;

        li {

          ul {
            padding-left: 45px;
          }
        }
      }
    }

    &__link {
      cursor: pointer;
      position: relative;
      padding-left: 45px;

      &:before {
        content: '\2014';
        border-radius: 5px;
        background-color: rgb(124, 197, 118);
        width: 32px;
        position: absolute;
        left: 0;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        height: 32px;
        transition: .3s;
        font-size: 16px;
      }

      &.collapsed {
        &:before {
          content: '\271A';

        }
      }

    }
  }

  .count-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    counter-reset: mYCounter;

    li {
      color: #333333;
      font-size: 16px;
      line-height: 30px;
      position: relative;
      padding-left: 45px;
      padding-bottom: 25px;

      &:before {
        content: counter(mYCounter);
        counter-increment: mYCounter;
        line-height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        min-width: 32px;
        height: 32px;
        background: #7cc576;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 15px;
      line-height: 26px;

      &:before {
        content: '';
        position: absolute;
        border: 2px solid $brown;
        background: $brown;
        left: 0;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      & > ul {
        margin-top: 20px;
        margin-bottom: 0;

        li {
          &:before {
            background: #fff;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  ol {

    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    margin-bottom: 25px;
    counter-reset: mYCounter;

    & > li {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      padding-left: 40px;
      padding-bottom: 15px;

      &:before {
        content: counter(mYCounter) '.';
        counter-increment: mYCounter;
        position: absolute;
        left: 0;
        top: 0;
        color: $brown;
        font-weight: 900;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        min-width: auto;
        line-height: 1;
      }

      &:last-child {
        padding-bottom: 0;

      }

      & > ul,
      & > ol {
        margin-top: 20px;
        margin-bottom: 0;

        li {
          position: relative;
          padding-left: 30px;
          padding-bottom: 10px;

          &:before {
            content: '';
            position: absolute;
            border: 2px solid $brown;
            background: $brown;
            left: 0;
            top: 10px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            min-height: auto;
            min-width: auto;
          }
        }
      }
    }
  }

  img[align=right] {
    margin: 0 0 20px 40px;
    float: right;
  }

  img[align=left] {
    margin: 0 40px 20px 0;
    float: left;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 15px;

    &.text-hidde {
      text-decoration: line-through;
    }
  }

  a {
    font-size: 16px;
    line-height: 24px;
    color: $brown;
    border-bottom: 2px solid transparent;
    transition: .4s;
    display: inline-block;
    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: none;
      color: $brown;
      border-color: $brown;
    }
  }

  mark {
    background: $brown;
    color: #fff;
    padding: 0 5px;
  }

  blockquote {
    font-size: 27px;
    color: #000;
    padding: 30px 10px;
    position: relative;
    text-align: center;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 40px auto;

    &:before {
      content: '';
      width: 100%;
      max-width: 190px;
      height: 2px;
      background: $brown;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -95px;
    }

    &:after {
      content: '';
      width: 100%;
      max-width: 190px;
      height: 2px;
      background: $brown;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -95px;
    }

    @media screen and (max-width: 575px) {
      padding-left: 25px;
    }
  }

  .list-content {
    list-style: none;
    padding: 0;
    margin: 0;

    &__header {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      padding-bottom: 10px;

    }

    li {
      margin-bottom: 30px;
      padding-left: 0;
      &:before {
        content: none;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .content-img {

    .img-autor {
      display: block;
      margin-top: 12px;
      color: #999999;
      font-size: 14px;
      line-height: 20px;
    }

    .img-inner {
      max-width: 40%;

      img {
        max-width: 100%;
      }
    }

    &--left {
      .img-inner {
        float: left;
        margin: 0 40px 20px 0;
      }
    }

    &--right {

      .img-inner {
        float: right;
        margin: 0 0 20px 40px;

      }
    }

    &--center {
      .img-inner {
        max-width: 100%;
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 30px;

      }
    }

    @media screen and (max-width: 575px) {
      .img-inner {
        float: none;
        text-align: center;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 5px 0 20px 0;

        img {
          float: none;
          margin: 0;
        }
      }
    }
  }

  table {
    &:not(.table-reset) {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 35px;
      max-width: 100%;
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      font-size: 16px;
      color: #333;
      text-transform: none;

      tbody {

        tr {
          &:nth-child(2n + 1) {
            background: #f9f5ef;
          }
        }
      }

      thead {
        font-weight: 700;
        color: $brown;

        tr {
          border-bottom: 1px solid #efe3d2;
          border-top: 1px solid #efe3d2;

          th {
            padding: 10px 10px 10px 10px;
            min-width: 150px;

            &:first-child {
              padding-left: 15px;
              min-width: auto;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tr {
        border-bottom: 1px solid #efe3d2;
        transition: .3s;
        background: #fff;

        &:hover {
          background: rgba(0, 0, 0, 0.05) !important;
        }

        td {
          padding: 10px 10px 10px 10px;

          &:first-child {
            padding-left: 15px;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  //  end content
  &--404 {
    h4 {
      text-transform: none;

    }

    ul {
      li {
        padding-bottom: 10px;
      }
    }
  }

  &--vacancies {
    font-size: 14px;

    ul {
      margin-top: 15px;

      li {
        padding-bottom: 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 30px;
    color: #000;
    font-weight: 700;
    //  text-transform: uppercase;
    line-height: 1.35;

    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  .h1 {
    font-size: 27px;

    @media screen and (max-width: 767px) {
      font-size: 22px;
    }

    @media screen and (max-width: 575px) {
      font-size: 20px;
    }

    &.small {
      font-size: 20px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }
    }
  }

  .h2 {
    font-size: 27px;
    margin-bottom: 25px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
    }
  }

  .h3 {
    font-size: 25px;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }

    @media screen and (max-width: 575px) {
      font-size: 17px;
    }
  }

  .h4 {
    font-size: 20px;
    margin-bottom: 15px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    @media screen and (max-width: 575px) {
      font-size: 16px;
    }
  }

  .h5 {
    font-size: 18px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }

  .h6 {
    font-size: 16px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }
}

hr {
  height: 1px;
  border: 0;
  margin: 40px 0;
  background: #e5e5e5;

  @media screen and (max-width: 767px) {
    margin: 30px 0;
  }

  @media screen and (max-width: 575px) {
    margin: 25px 0;
  }
}

.tabs {
  margin-bottom: 30px;
}

.nav-tabs {
  border: 1px solid #c69d5e;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 1;
  color: #c69d5e;
  overflow: hidden;
  margin: 0 0 35px 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  color: $brown !important;
  background: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  line-height: 29px !important;

  &:hover {
    background: #fcfaf7 !important;
  }

  &.active {
    background: $brown !important;
    color: #fff !important;
  }

}

.nav-item {
  flex: 1;
  text-align: center;
  border-radius: 0;
  border: 0;
  border-right: 1px solid $brown;

  @media screen and (max-width: 767px) {
    width: 100%;
    flex: none;
    border-right: 0;
    border-bottom: 1px solid;
  }

  &:last-child {
    border-right: 0;
  }

}

p.subtitle {
  color: #666666;
  font-weight: 600;
  margin-bottom: 30px;
}