.footer {
  padding: 20px 0 15px 0;
  background: #000;
  border-top: 1px solid #646464;
  font-size: 14px;
  color: #fff;
  overflow: hidden;

  @include to_width($sm) {
    text-align: center;
  }

  .container {

    @include to_width($sm) {
      //      max-width: 230px !important;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__dispatch {

    @include to_width($md) {
      margin-left: auto;
      text-align: right;
    }

    @include to_width($sm) {
      text-align: left;
      padding-bottom: 0;
      padding-top: 25px;
      border-top: 1px solid #111111;
    }
  }

  &__item {
    flex: 1;
    padding: 0 15px 15px 15px;

    @include to_width($md) {
      flex: auto;
    }

    @include to_width($sm) {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__nav {

    max-width: 555px;
  }
}

.nav-footer {
  column-count: 3;
  column-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include to_width($sm) {
    column-count: auto;
  }

  &__item {
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;

    &.active{

      .nav-footer__link{
        color: $brown;
        text-decoration: none;
      }
    }
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    transition: .3s;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;

    @include to_width($sm) {
      font-size: 14px;
    }

    &:hover {
      color: $brown;
      text-decoration: none;
    }

  }

  &--small {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;

    .nav-footer__item {
      padding-bottom: 5px;
    }

    .nav-footer__link {
      font-size: 14px;
      text-transform: none;
    }
  }
}

.data-footer {
  flex: 2;

  @include to_width($md) {
    flex: auto;
    order: 3;
  }

  &__copyright {
    font-size: 11px;
  }

  &__content {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  &__partners {
    color: #c09651;
    font-size: 12px;
    line-height: 14px;
    transition: .3s;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    @include i;
    @include i-ico-partners;

    &:before {
      margin-right: 7px;
    }

    &:hover {
      text-decoration: none;
      color: #c09651;
      opacity: 0.7;
    }
  }
}

.info-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;

  @include to_width($sm) {
    margin-top: 0;
  }

  &__item {

    &.social {
      flex: 2;
      padding: 0 20px;
      justify-content: center;
      align-items: center;
    }
  }
}

.dispatch {
  max-width: 190px;

  @include to_width($md) {
    margin-left: auto;
  }

  @include to_width($md) {
    margin: 0 auto;
  }

  .help-block {
    display: none !important;
  }

  .has-error {

    .dispatch__input {
      border-color: #870000;
    }
  }

  &__input {
    height: 32px;
    font-size: 12px;
    padding: 0 13px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff !important;
    border-radius: 0;
    transition: .3s;

    &:focus {
      border-color: $brown;
    }
  }

  &__name {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.developer {
  font-weight: 300;
  color: #fff;
  transition: .3s;
  font-size: 12px;
  padding-bottom: 15px;

  &:hover {
    color: $brown;
    text-decoration: none;

  }

  @include to_width($sm) {
    color: #484848;
    padding-bottom: 0;
    font-weight: 600;

    &:hover {
      color: #fff;
    }
  }
}