.mob-header {
  display: flex;
  align-items: center;
  height: 52px;

  &__logo {
    padding: 0 25px;
    flex: 1;

    img {
      max-width: 190px;
    }
  }

  .btn-search {

  }
}

.header {

  @include to_width($sm) {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 150;
    border-bottom: 1px solid #e1e1e1;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 22px 0;
    border-bottom: 2px solid $brown;
    margin-bottom: 24px;
    position: relative;

    .logo {
      display: none;

      img {
        max-width: 225px;
        margin: 0 25px;
      }
    }

    &--fix {

      .logo {
        display: block;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0;
  }

  &__logo {
    flex: 1;
  }

  &--fixed {
    position: fixed;
    top: -300px;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 6px 12.74px 0.26px rgba(0, 0, 0, 0.1);
    transition: .4s;

    .header__nav {
      margin: 0;
    }

    .header__top {
      display: none;
    }

    .nav-menu__link {

      @include to_width($md) {
        font-size: 12px;
      }
    }

    .logo {
      display: block;

      img {

        @include to_width($md) {
          max-width: 135px;
        }
      }
    }

  }

  &--visible {
    top: 0;
    transition: .4s;
  }
}

.small-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  &__item {
    list-style: none;

    &.active {
      color: $brown;

      .small-menu__link {
        color: $brown;
      }

    }
  }

  &__link {
    font-size: 14px;
    color: #333333;
    text-decoration: none;

    &:hover {
      color: $brown;
    }
  }
}

.mob-arrow {
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
  right: 0;
  top: 3px;
  position: absolute;
  cursor: pointer;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #000;
    border-left: transparent;
    border-top: transparent;
  }

  &.active {
    transform: rotate(45deg);
    border-color: $brown;
  }
}

.mob-menu__drop {
  max-height: 0;
  overflow: hidden;
  transition: .4s;

}

.m-drop-menu {
  margin: 0;
  padding: 5px 0 0 11px;

  &__item {
    list-style: none;

    &.active {
      color: $brown;

      .m-drop-menu__link {
        color: $brown;
      }
    }
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;

    &:hover{
      color: $brown;
    }
  }
}

.mob-menu {
  opacity: 0;
  z-index: -2;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 270px;
  min-height: 100vh;
  padding: 35px 15px 25px 25px;
  background: #fff;
  border: 1px solid #fafafa;
  transition: .3s;
  transform: translate(-100%, 0%);

  &__inner {
    overflow: hidden;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }

  &__close {
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .4s;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #000;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #000;
    }

    &:hover {
      transform: rotate(45deg);
      &:after,
      &:before {
        background: $brown;
      }
    }
  }

  &__ico {

    @include i;
    @include i-ico-small-black-logo;

    &:before {
      margin-bottom: 35px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-right: 0;
  }

  &__item {
    list-style: none;
    display: block;
    margin-bottom: 5px;
    padding-right: 20px;
    position: relative;

    &.open-drop {

      .mob-menu__drop {
        max-height: 1000px;
        transition: .4s;
      }
    }

    &.active {
      color: $brown;

      .mob-menu__link {
        color: $brown;
      }
    }
  }

  &__link {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    line-height: 16px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: $brown;

    }
  }

  &--open {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background: #fff;
    opacity: 1;
    transition: .3s;
    transform: translate(0%, 0%);
  }
}

.short-menu {
  opacity: 0;
  z-index: -2;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  padding: 35px 25px;
  background: #fff;
  border: 1px solid #fafafa;
  transition: .3s;
  transform: translate(-100%, 0%);

  &__close {
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .4s;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #000;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #000;
    }

    &:hover {
      transform: rotate(45deg);
      &:after,
      &:before {
        background: $brown;
      }
    }
  }

  &__ico {

    @include i;
    @include i-ico-small-black-logo;

    &:before {
      margin-bottom: 35px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    padding-bottom: 170px;
  }

  &__item {
    list-style: none;
    display: block;
    margin-bottom: 5px;

    &.active {
      color: $brown;

      .short-menu__link {
        color: $brown;
      }
    }
  }

  &__link {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    line-height: 16px;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color: $brown;

    }
  }

  &--open {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background: #fff;
    opacity: 1;
    transition: .3s;
    transform: translate(0%, 0%);
  }
}

.short-btn {
  cursor: pointer;
  padding: 5px;
  margin-left: -5px;

  &:hover {

    .short-btn__item {
      background: $brown;
    }
  }

  &__inner {

  }

  &__item {
    width: 18px;
    height: 2px;
    margin-bottom: 5px;
    background: #362f2f;
    transition: .3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--active {

    .short-btn__item {
      background: $brown;
    }
  }
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: center;

  &__list {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    padding: 0 20px;
  }

  &__item {
    padding: 0 10px;
    //    overflow: hidden;

    &.active {
      color: $brown;

      .nav-menu__link {
        pointer-events: none;
        color: $brown;
      }
    }

    &:hover {
      transition-delay: 1s;

      .nav-menu__link {
        color: $brown;
        border-bottom-color: $brown;

      }

      .drop-menu {
        max-height: 1000px;
        z-index: 100;
        opacity: 1;
        transition: max-height .5s;
        //        transition: 0s;
        transition-delay: .2s;
        padding: 22px 0;

      }
    }
  }

  &__link {
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    display: block;
    border-top: 2px solid transparent;
    //    line-height: 1;

    &:hover {
      color: $brown;
      text-decoration: none;

    }
  }
}

.search-section {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 30px 0;
  height: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: .3s;
  transform: scale(0);

  .placeholder {
    position: absolute;
    font-size: 40px;
    color: rgba(0, 0, 0, .5);
    left: 0;
    transition: .3s;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 0;

    @include i;
    @include i-ico-search--active;

    &:focus {
      outline: none;
    }
  }

  &__input {
    padding-right: 35px;
    width: 100%;
    height: 80px;
    outline: none;
    border: 0;
    border-bottom: 2px solid $brown;
    font-size: 40px;
    color: $brown;

    &:focus {

      & ~ .placeholder {
        top: 0;
        font-size: 14px;
      }
    }
  }

  &__close {
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .4s;
    cursor: pointer;
    z-index: 11;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #000;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #000;
    }

    &:hover {
      transform: rotate(45deg);
      &:after,
      &:before {
        background: $brown;
      }
    }
  }

  &__input-inner {
    position: relative;
    margin-bottom: 30px;

    &--focus {

      .placeholder {
        top: 0;
        font-size: 14px;
      }
    }
  }

  &__radio-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 -20px;

    @include to_width($ssm) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  &__item-radio {
    padding: 0 20px 10px 20px;

    input {
      display: none;

      &:checked {

        & + label {
          color: $brown;

          &:before {
            opacity: 1;
          }

          &:after {
            border-color: $brown;
          }
        }
      }
    }

    label {
      padding-left: 21px;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #000;
      transition: .3s;
      cursor: pointer;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -1;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #000;
        transition: .3s;
      }

      &:before {
        content: '';
        position: absolute;
        left: 3px;
        top: 3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        transition: .3s;
        opacity: 0;
        background: $brown;
      }

      &:hover {
        color: $brown;
      }
    }
  }

  &--open {
    z-index: 111;
    opacity: 1;
    transform: scale(1);
  }
}

.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  //  z-index: 100;
  background: #fff;
  transition: max-height .3s;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  z-index: -1;
  margin-top: -22px;

  &__list {
    padding: 0;
    margin: 0;
    flex: 1;

  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      color: $brown;
    }
  }

  &__item {
    list-style: none;
    padding-bottom: 5px;

    &.active {
      color: $brown;

      .drop-menu__link {
        color: $brown;
        text-decoration: none;
      }
    }
  }

  &__inner {
    display: flex;
    padding: 40px 0 0 0;
    border-top: 2px solid #be9450;
  }

}

.topic-menu {

  &__inner {
    display: flex;
  }

  &__name {
    text-align: center;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  &__item {
    width: 100%;
    max-width: 200px;
    padding: 0 10px 10px 10px;

    .small-item__images {

      &:after {
        content: none !important;
      }

      min-height: auto !important;
    }
  }
}