// helpers
.wrapper {

  .mb {

    &_0 {
      margin-bottom: 0;
    }

    &_1 {
      margin-bottom: 10px;
    }

    &_2 {
      margin-bottom: 20px;
    }

    &_3 {
      margin-bottom: 30px;
    }

    &_4 {
      margin-bottom: 40px;
    }

    &_5 {
      margin-bottom: 50px;
    }

    &_6 {
      margin-bottom: 60px;
    }

    &_7 {
      margin-bottom: 70px;
    }

    &_8 {
      margin-bottom: 80px;
    }

    &_9 {
      margin-bottom: 90px;
    }

    &_10 {
      margin-bottom: 100px;
    }
  }

  .mt {

    &_0 {
      margin-top: 0;
    }

    &_1 {
      margin-top: 10px;
    }

    &_2 {
      margin-top: 20px;
    }

    &_3 {
      margin-top: 30px;
    }

    &_4 {
      margin-top: 40px;
    }

    &_5 {
      margin-top: 50px;
    }

    &_6 {
      margin-top: 60px;
    }

    &_7 {
      margin-top: 70px;
    }

    &_8 {
      margin-top: 80px;
    }

    &_9 {
      margin-top: 90px;
    }

    &_10 {
      margin-top: 100px;
    }
  }

  .pb {

    &_0 {
      padding-bottom: 0;
    }

    &_1 {
      padding-bottom: 10px;
    }

    &_2 {
      padding-bottom: 20px;
    }

    &_3 {
      padding-bottom: 30px;
    }

    &_4 {
      padding-bottom: 40px;
    }

    &_5 {
      padding-bottom: 50px;
    }

    &_6 {
      padding-bottom: 60px;
    }

    &_7 {
      padding-bottom: 70px;
    }

    &_8 {
      padding-bottom: 80px;
    }

    &_9 {
      padding-bottom: 90px;
    }

    &_10 {
      padding-bottom: 100px;
    }
  }

  .pt {

    &_0 {
      padding-top: 0;
    }

    &_1 {
      padding-top: 10px;
    }

    &_2 {
      padding-top: 20px;
    }

    &_3 {
      padding-top: 30px;
    }

    &_4 {
      padding-top: 40px;
    }

    &_5 {
      padding-top: 50px;
    }

    &_6 {
      padding-top: 60px;
    }

    &_7 {
      padding-top: 70px;
    }

    &_8 {
      padding-top: 80px;
    }

    &_9 {
      padding-top: 90px;
    }

    &_10 {
      padding-top: 100px;
    }
  }

  .fl-left {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .fl-left {
    float: right;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .fl-none {
    float: none;
  }

  .pull-left {
    float: left !important;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .pull-right {
    float: right !important;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .clear {
    float: none !important;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fl-img, img[align=left] {
    display: block;
    float: left;
    margin: 0 20px 10px 0;
  }

  .fr-img, img[align=right] {
    display: block;
    float: right;
    margin: 0 0 10px 20px;
  }

  .picshadow {
    box-shadow: 0 4px 29px -10px #000;
  }

  .font-bold {
    font-weight: 700;
  }

  .font-italic {
    font-style: italic;
  }

  .font-normal {
    font-weight: 400;
  }

  .line-through {
    text-decoration: line-through;
  }

  .underline {
    text-decoration: underline;
  }

  .decor-none {
    text-decoration: none;
  }

  .breal-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .dash {
    border-bottom: 1px dashed;
    text-decoration: none;
  }

  .dot {
    border-bottom: 1px dotted;
    text-decoration: none;
  }

  .lead {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: .6em;
  }

  .small {
    font-size: 86%;
  }

  .mark {
    background: #7cc576;
    color: #fff;
    padding: 0 5px;
  }

  .initialism {
    font-size: 90%;
    text-transform: uppercase;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .text-lowercase {
    text-transform: lowercase;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .text-normal {
    text-transform: none;
  }

  .text-muted {
    color: #777;
  }

  .text-primary {
    color: #428bca;
  }

  .text-success {
    color: #8ec157;
  }

  .text-info {
    color: #31708f;
  }

  .text-warning {
    color: #8a6d3b;
  }

  .text-danger {
    color: #d1424f;
  }

  .bg-primary {
    background-color: #428bca;
    color: #fff;
    padding: 3px 5px;
  }

  .bg-success {
    background-color: #dff0d8;
    padding: 3px 5px;
  }

  .bg-info {
    background-color: #d9edf7;
    padding: 3px 5px;
  }

  .bg-warning {
    background-color: #fcf8e3;
    padding: 3px 5px;
  }

  .bg-danger {
    background-color: #f2dede;
    color: #fff;
    padding: 3px 5px;
  }

  .text-lg {
    font-size: 17px;
  }

  .text-sm {
    font-size: 13px;
  }

  .list-reset {
    list-style: circle inside;

    li {
      padding-left: 0;

      &:before,
      &:after {
        content: '';

      }
    }
  }

  .list-unstyled {

  }

  // таблицы
  .table-reset {

  }

  .no-border {
    border: none;

    tr {
      border: none;
    }

    td {
      border: none;
    }

  }

  .no-hover {

    table,
    &table{
      tr {
        &:hover {
          cursor: default;
          background: transparent;
        }
      }
    }
  }

  // выравнивание
  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .text-justify {
    text-align: justify;
  }

  .cur-pointer {
    cursor: pointer;

  }

  .cur-default {
    cursor: default;
  }

  .cur-text {
    cursor: text;
  }

  .lnk {
    font-size: 16px;
    line-height: 30px;
    color: $green;
    border-bottom: 2px solid #cce7ca;
    transition: .4s;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: none;
      color: $green;
      border-color: transparent;
    }
  }

  .lnk-pseudo {
    border-bottom: 1px dashed;
    text-decoration: none;
    cursor: pointer;
    color: $green;
    line-height: 1;

    &:hover {
      color: $green;
      border-color: transparent;
    }
  }

  .disp-block {
    display: block;
  }

  .disp-inline {
    display: inline;
  }

  .disp-inline-block {
    display: inline-block;
  }

  .disp-table {
    display: table;
  }

  .disp-inline-table {
    display: inline-table;
  }

  .disp-table-cell {
    display: table-cell;
  }

  .disp-none {
    display: none;
  }

  .pos-rel {
    position: relative;

  }

  .pos-abs {
    position: absolute;
  }

  .over-hid {
    overflow: hidden;
  }

  .over-vis {
    overflow: visible;
  }

  .over-auto {
    overflow: auto;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .invisible {
    visibility: hidden;
  }

  .text-hide {
    font-size: 0;
    line-height: 0;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .affix {
    position: fixed;
  }

}