.paginations{
  margin: 25px 0  50px 0;

  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;

    @media screen and (max-width: 767px){
      justify-content: center;
    }
  }

  &__item{

    &--active{
      .paginations__link{
        color: #7cc576;
      }
    }

  }

  &__link{
    padding: 0 10px;
    color: #999999;
    transition: .3s;
    font-size: 15px;

    &:hover{
      color: #7cc576;
      text-decoration: none;
    }
  }
}

.ico-arrow-prev{
  @include i;
  @include i-ico-arrow-pagination-prev;

}

.ico-arrow-next{
  @include i;
  @include i-ico-arrow-pagination-next;


}
