.section{
  margin: 0 0 22px 0;

  @include to_width($ssm) {
    margin: 0 0 12px 0;
  }

  &__inner{
    display: flex;
    align-items: center;
    width: 100%;

    @include to_width($ssm) {
      height: 24px;
    }
  }

  &__line{
    flex: 1;
    height: 2px;
    background: $brown;
    margin: 0 25px;

    @include to_width($ssm){
      height: 1px;
      margin: 0 0px;
    }
  }

  &__item{
    color: $brown;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;

    @include to_width($ssm){
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      font-size: 11px;
      padding: 4px 10px;
    }

    &:hover{
      color: #9d9d9d;
    }

    &--next-section{
      padding-right: 40px;
      display: flex;
      align-items: center;
      position: relative;
      @include i;
      @include i-ico-arrow-coarse;


      @include to_width($ssm){
        display: none;
      }

      &:before{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
//        transform: translateY(-50%);
        margin-top: -6px;
      }

      &:hover{
        @include i-ico-arrow-gray;
      }
    }
  }

  &--name{

    .section__line{
      margin: 0 0 0 25px;

      @include to_width($ssm){
        height: 1px;
        margin: 0 0px;
      }
    }

  }
}