.small-info {
  display: flex;
  margin-bottom: 26px;
  position: relative;

  &__content {

    @include to_width($sm) {
      font-size: 14px;
      line-height: 15px;
    }
  }

  &__department {
    font-size: 16px;
    line-height: 18px;
    color: #000;

    &:hover {
      color: $brown;
    }
  }

  &__images {
    width: 165px;
    margin: 0 12px 0 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $brown;
      opacity: 0;
      transition: .3s;

    }

    &:hover {

      &:after {
        opacity: 0 !important;
      }

      &:before {
        opacity: .7;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1
  }

  &__name {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    transition: .3s;
    max-height: 60px;
    overflow: hidden;

    &:hover {
      color: $brown;
      text-decoration: none;
    }
  }

  &__collection {
    margin-bottom: 15px;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      color: $brown;
      text-decoration: none;
    }
  }

  &__data {
    flex: 1;
    color: #7f7f7f;
    font-size: 11px;
    display: flex;
    margin: 0 -8px;
    align-items: flex-end;
  }

  &__date {
    padding: 0 8px;
  }

  &__count-view {
    padding: 0 8px;
    @include i;
    @include i-ico-eye-gray;

    &:before {
      margin-right: 10px;
    }
  }

  &__count-msg {
    padding: 0 8px;
    @include i;
    @include i-ico-msg-gray;

    &:before {
      margin-right: 10px;
    }
  }

  &--hover {

    .small-info__images {

      &:after {
        opacity: 0 !important;
      }

      &:before {
        opacity: .7;
      }
    }

    .small-info__name {
      color: $brown;
      text-decoration: none;
    }
  }

}

.experts {

  &__wrapp {
    border-bottom: 2px solid #be9450;
    margin-bottom: 22px;

    @include to_width($md) {
      margin-bottom: 0;
      border: none;
    }
  }

  .grid {
    margin: 0 -12px;

    &__cell {
      padding: 0 12px;

      &:first-child {
        width: 85%;

        @include to_width($md) {
          width: 50%;
        }

        @include to_width($ssm) {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 15%;

        @include to_width($md) {
          width: 50%;
        }

        @include to_width($ssm) {
          width: 100%;
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    padding: 0 15px;
    //    margin-bottom: 20px;
    width: 50%;

    @include to_width($md) {
      width: 100%;
    }

    @include to_width($ssm) {

      &:nth-child(3) {

        .small-info {
          margin-bottom: 0;
        }
      }
    }

    .small-info {

      @include to_width($ssm) {
        margin-bottom: 12px;
      }
    }

    .small-info__images {

      @include to_width($ssm) {
        width: 112px;
      }
    }
  }

  &--big-item {

    .experts__inner {

    }

    .experts__item {
      width: 25%;

      @include to_width($sm){
        width: 50%;
      }

    @include to_width($ssm){
        width: 100%;
      }
    }

    .small-info {
      flex-wrap: wrap;

      &__images {
        width: 100%;
        margin: 0 0 12px 0;
        filter: grayscale(100%);
        transition: .4s;
        //display: flex;
        //justify-content: center;
        //align-items: center;

        @include to_width($ssm){
          margin: 0 12px 12px 0;
        }

        &:before {
          content: none;
        }

        &:hover {
          filter: grayscale(0%);
        }
      }

      &__department {
        font-size: 10px;
        line-height: 1.3;
        padding-bottom: 14px;
        text-transform: uppercase;
      }

      &__name {
        padding-bottom: 10px;
        font-size: 17px;
      }

      &__content {
        font-size: 12px;
      }
    }
  }
}