.small-item {
  display: flex;
  margin-bottom: 22px;
  position: relative;

  @include to_width($ssm) {
    margin-bottom: 7px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      border: 9px solid transparent;
      transition: .3s;
      z-index: 2;
    }
  }

  &__big-date{

    span{
      text-transform: uppercase;
    }
  }

  &__images {
    width: 165px;
    margin: 0 12px 0 0;
    position: relative;

    @include to_width($ssm) {
      //display: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        width: 100%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $brown;
      opacity: 0;
      transition: .3s;

    }

    &:hover {

      &:after {
        opacity: 0 !important;
      }

      &:before {
        opacity: .7;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include to_width($ssm) {
      //background-size: cover;
      //background-position: 50% 50%;
      //background-repeat: no-repeat;
      z-index: 2;
      padding: 20px;
      text-align: center;

    }
  }

  &__name {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    transition: .3s;
    max-height: 60px;
    overflow: hidden;

    @include to_width($ssm) {
      color: #fff;
    }

    &:hover {
      color: $brown;
      text-decoration: none;
    }
  }

  &__collection {
    margin-bottom: 15px;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    transition: .3s;

    @include to_width($ssm) {
      color: #fff;
    }

    &:hover {
      color: $brown;
      text-decoration: none;
    }
  }

  &__data {
    flex: 1;
    color: #7f7f7f;
    font-size: 11px;
    display: flex;
    margin: 0 -8px;
    align-items: flex-end;

    @include to_width($sm) {
      font-size: 10px;
    }

    @include to_width($ssm) {
      text-align: center;
      justify-content: center;
    }
  }

  &__date {
    padding: 0 8px;

    @include to_width($ssm) {
      font-size: 10px;
      color: #fff;
    }
  }

  &__count-view {
    padding: 0 8px;
    @include i;
    @include i-ico-eye-gray;

    @include to_width($ssm) {
      display: none;
    }

    &:before {
      margin-right: 10px;
    }
  }

  &__count-msg {
    padding: 0 8px;
    @include i;
    @include i-ico-msg-gray;

    @include to_width($ssm) {
      display: none;
    }

    &:before {
      margin-right: 10px;
    }
  }

  &--hover {

    .small-item__images {

      &:after {
        opacity: 0 !important;
      }

      &:before {
        opacity: .7;
      }
    }

    .small-item__name {
      color: $brown;
      text-decoration: none;
    }
  }

  &__play-video {
    position: absolute;
    z-index: 2;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    left: 82px;
    margin: -13px 0 0 -13px;
  }

  &--type1 {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;

    .small-item__name {

    }

    .small-item__content {
      max-height: 60px;
      overflow: hidden;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
    }

    .small-item__images {
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
      margin-right: 0;
      min-height: 125px;
      align-self: flex-start;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: .3s;
      }
    }

  }

  &--type2 {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;

    .small-item__big-date {
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 1;
      z-index: 5;
      transform: translate(-50%, -50%);

      span {
        display: block;
        font-weight: 700;
        color: #fff;

        &:first-child {
          padding-bottom: 3px;
          font-size: 30px;
        }

        &:last-child {

          &:not(:first-child) {
            font-size: 16px;
          }
        }
      }
    }

    .small-item__name {

    }

    .small-item__content {
      max-height: 60px;
      overflow: hidden;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
    }

    .small-item__images {
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
      margin-right: 0;
      min-height: 125px;
      align-self: flex-start;
      position: relative;

      @include to_width($sm) {
        min-height: auto;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: .3s;
      }
    }

  }
}

.small-card-wrapp {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include to_width($sm) {
      margin: 0 -10px;
    }
  }

  &__item {
    padding: 0 15px;
    margin-bottom: 30px;
    width: calc(100% / 6);

    @include to_width($md) {
      width: 25%;
    }

    @include to_width($sm) {
      padding: 0 10px;
    }

    @include to_width($ssm) {
      width: 100%;
      margin-bottom: 0;

      .small-item__inner{
        padding-bottom: 0;
      }

      .small-item__name{
        margin-bottom: 0;
        width: 100%;
      }

      .small-item__collection{
        order: 2;
        flex: 1;
        padding-left: 10px;
        text-align: right;
        font-size: 9px;
        color: #000;
        a{
          color: #000;
        }
      }

      .small-item__date{
        font-size: 9px;
        color: #000;
        text-align: left;
      }

      .small-item__data{
        order: 1;
        flex: 1;
        justify-content: flex-start;
      }

      .small-item__name{
        order: 3;
        color: #000;
      }

      .small-item__count-view{
        display: none;
      }

      .small-item__content{
        display: none;
      }

      .small-item__count-msg{
        display: none;
      }

      .small-item__images{
        width: 112px;
        margin-bottom: 0;
      }

      .small-item__inner{
        text-align: left;
        padding: 0 0 15px 15px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      
      .small-item__big-date{
        display: none;

      }

      .small-item{
        flex-wrap: nowrap;
        flex-direction: row !important;
        align-items: flex-start !important;
        height: auto;

        &:before{
          content: none;
        }
      }
    }
  }
}