.flex-multi {
  float: left;
  width: 45%;
  margin-bottom: 100px;
}

.flex-multi + .flex-multi {
  float: right;
}

.clear {
  clear: both;
}

/* flexMenu styles */

.flexMenu-viewMore {

  .lvl2-menu,
  .lvl3-menu {
    //    display: none !important;
  }

  & > a {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    &:hover {
      color: $green;
      text-decoration: none;

      & ~ .lvl2-menu {
        display: block;
        z-index: 2;
        opacity: 1;
      }

    }
  }

  &.active {

    & > a {
      color: $green;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 10;
        background-color: rgb(235, 245, 234);
        border: 1px solid rgb(235, 245, 234);
        box-shadow: -1px -1px 1px 0 rgb(235, 245, 234);
        border-right: 0;
        border-bottom: 0;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: -6px 0 0 -6px;
      }
    }
  }
}

.flexMenu-popup {
  list-style-type: none;
  margin: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: #ebf5ea;
  padding: 5px 0;
  align-items: center;
  box-shadow: -0.313px 1.975px 4px 0 rgba(23, 23, 23, .6);

  .lvl2-menu {
    margin-top: 0;
  }

  .nav-menu__item {
    padding: 8px 15px;
  }
}

