.social{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item{
    margin: 7px;
    width: 22px;
    height: 22px;
    border: 1px solid #070707;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    @include i;

    &:before{
      display: block;

    }

    &:hover{
      border-color: $brown;

    }

    &--vk{
      @include i-ico-vk;

      &:hover{
        @include i-ico-vk--hover;
      }
    }

    &--fb{
      @include i-ico-fb;

      &:hover{
        @include i-ico-fb--hover;
      }
    }

    &--ytb{
      @include i-ico-ytb;

      &:hover{
        @include i-ico-ytb--hover;
      }
    }

    &--inst{
      @include i-ico-insta;

      &:hover{
        @include i-ico-insta--hover;
      }
    }
  }

  &--mob-menu{
    margin: 0 -7px;
    justify-content: space-between;
  }

  &--white{

    .social__item{
      border-color: #fff;
      margin: 4px;

      &:hover{
        border-color: $brown;
      }

      &--vk{
        @include i-ico-vk--white;

        &:hover{
          @include i-ico-vk--hover;
        }
      }

      &--fb{
        @include i-ico-fb--white;

        &:hover{
          @include i-ico-fb--hover;
        }
      }

      &--ytb{
        @include i-ico-ytb--white;

        &:hover{
          @include i-ico-ytb--hover;
        }
      }

      &--inst{
        @include i-ico-insta--white;

        &:hover{
          @include i-ico-insta--hover;
        }
      }
    }
  }


  &--header{
    margin-right: 7px;

    .social__item{
      margin: 7px 17px;
    }
  }
}