extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Афиша1'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview.h1-preview--no-border
                .h1-preview__inner(style="background-image: url('./images/h1-bg2.jpg')")
                    .h1-preview__name Афиша
            .name-page
                span Афиша
            .breadcrumb.breadcrumb--new.breadcrumb--compress
                ul(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="/" title="Главная" itemprop="item")
                            span(itemprop="name") Главная
                            meta(itemprop="position" content="0")
                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                            a(href="/" title="Главная" itemprop="item")
                                span(itemprop="name") Внутренняя
                                meta(itemprop="position" content="0")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                        span(itemprop="name") Афиша
                        meta(itemprop="position" content="1")
        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item--with-big-date("./images/big-item.jpg", "мода",  "18", "ноября", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        .small-card-wrapp
            .container
                .small-card-wrapp__inner
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                .btn-inner.btn-inner--center.ssm-visible
                    a(href="").read-all Читать все
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more Загрузить еще
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more.view-more--loading Загрузить еще
block scripts

