extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Афиша2'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview.h1-preview--no-border
                .h1-preview__inner(style="background-image: url('./images/h1-bg2.jpg')")
                    .h1-preview__name Афиша
            .name-page
                span Куда сходить
            .breadcrumb.breadcrumb--new.breadcrumb--compress
                ul(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="/" title="Главная" itemprop="item")
                            span(itemprop="name") Главная
                            meta(itemprop="position" content="0")
                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                            a(href="/" title="Афиша" itemprop="item")
                                span(itemprop="name") Афиша
                                meta(itemprop="position" content="0")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                        span(itemprop="name") КУДА СХОДИТЬ
                        meta(itemprop="position" content="1")
        .poster
            .container
                .poster__inner
                    .poster__item
                        .poster__slider.poster-slider.poster-slider--loading
                            .poster-slider__item
                                img(src="./images/poster__slide1.jpg", alt="slide")
                            .poster-slider__item
                                img(src="./images/poster__slide2.jpg", alt="slide")
                        .poster__data
                            .poster__type мода
                            .poster__date 12 НОЯБРЯ
                            .poster__name Dolor sit amet conse
                            .poster__content.
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32.
                            .info-poster
                                .info-poster__date 12 Ноября 2017
                                .info-poster__count-view 116
                                .info-poster__count-msg 0

                    .poster__item
                        .poster__slider.poster-slider.poster-slider--loading
                            .poster-slider__item
                                img(src="./images/poster__slide2.jpg", alt="slide")
                            .poster-slider__item
                                img(src="./images/poster__slide1.jpg", alt="slide")
                        .poster__data
                            .poster__type мода
                            .poster__date 12 НОЯБРЯ
                            .poster__name Dolor sit amet conse
                            .poster__content.
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32.
                            .info-poster
                                .info-poster__date 12 Ноября 2017
                                .info-poster__count-view 116
                                .info-poster__count-msg 0
                    .poster__item
                        .poster__slider.poster-slider.poster-slider--loading
                            .poster-slider__item
                                img(src="./images/poster__slide1.jpg", alt="slide")
                            .poster-slider__item
                                img(src="./images/poster__slide2.jpg", alt="slide")
                        .poster__data
                            .poster__type мода
                            .poster__date 12 НОЯБРЯ
                            .poster__name Dolor sit amet conse
                            .poster__content.
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32. This book is a treatise on the theory of ethics, very popular during the Renaissance.The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet", comes from a line in section 1.10.32.
                            .info-poster
                                .info-poster__date 12 Ноября 2017
                                .info-poster__count-view 116
                                .info-poster__count-msg 0
                .btn-inner.btn-inner--center.ssm-visible
                    a(href="").read-all Читать все
block scripts

