extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Каталог'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview.h1-preview--no-border
                .h1-preview__inner(style="background-image: url('./images/h1-bg2.jpg')")
                    .h1-preview__wrapp
                        .h1-preview__name Каталог компаний
                        .h1-preview__btn
                            a(href="#").btn.btn-link Добавить компанию
            .name-page.name-page--filter.js--filter
                i.ico-filter
                span Фильтр
            .breadcrumb.breadcrumb--new.breadcrumb--compress
                ul(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="/" title="Главная" itemprop="item")
                            span(itemprop="name") Главная
                            meta(itemprop="position" content="0")
                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                            a(href="/" title="Главная" itemprop="item")
                                span(itemprop="name") Внутренняя
                                meta(itemprop="position" content="0")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                        span(itemprop="name") Мода
                        meta(itemprop="position" content="1")
                .btn-filter.js--filter
                    span Фильтр
        .filter.filter--open
           .filter__close
           .container
               form.filter__inner
                   .filter__cell
                       .filter__item
                           .filter__name
                                .filter__ico
                                    img(src="./images/ico-filters7.png")
                                span мода
                           .filter__wrapp
                               .form-group
                                   .checbox
                                       input(type='checkbox', id="check11", name='moda', value='1')
                                       label(for="check11") Ателье
                                   .checbox
                                       input(type='checkbox', id="check12", name='moda', value='1')
                                       label(for="check12") БУТИКИ
                                   .checbox
                                       input(type='checkbox', id="check13", name='moda', value='1')
                                       label(for="check13") МАГАЗИНЫ АКСЕССУАРОВ
                                   .checbox
                                       input(type='checkbox', id="check14", name='moda', value='1')
                                       label(for="check14") МАГАЗИНЫ ДЛЯ ДЕТЕЙ
                                   .checbox
                                       input(type='checkbox', id="check15", name='moda', value='1')
                                       label(for="check15") МАГАЗИНЫ ОБУВИ
                                   .checbox
                                       input(type='checkbox', id="check16", name='moda', value='1')
                                       label(for="check16") МАГАЗИНЫ ОДЕЖДЫ
                       .filter__item
                           .filter__name
                               .filter__ico
                                   img(src="./images/ico-filters2.png")
                               span Спорт
                           .filter__wrapp
                               .form-group
                                   .checbox
                                       input(type='checkbox', id="check21", name='sport', value='1')
                                       label(for="check21") СПОРТИВНЫЕ МАГАЗИНЫ
                                   .checbox
                                       input(type='checkbox', id="check22", name='sport', value='1')
                                       label(for="check22") ФИТНЕСС-ЦЕНТРЫ
                       .filter__item
                           .filter__name
                               .filter__ico
                                   img(src="./images/ico-filters3.png")
                               span Красота
                           .filter__wrapp
                               .form-group
                                   .checbox
                                       input(type='checkbox', id="check31", name='sport', value='1')
                                       label(for="check31") МАГАЗИНЫ КОСМЕТИКИ
                                   .checbox
                                       input(type='checkbox', id="check32", name='sport', value='1')
                                       label(for="check32") МЕДИЦИНСКИЕ ЦЕНТРЫ
                                   .checbox
                                       input(type='checkbox', id="check33", name='sport', value='1')
                                       label(for="check33") ПАРИКМАХЕРСКИЕ
                                   .checbox
                                       input(type='checkbox', id="check34", name='sport', value='1')
                                       label(for="check34") САЛОНЫ КРАСОТЫ
                                   .checbox
                                       input(type='checkbox', id="check35", name='sport', value='1')
                                       label(for="check35") СПА-ЦЕНТРЫ
                       .filter__item
                           .filter__name
                               .filter__ico
                                   img(src="./images/ico-filters4.png")
                               span Здоровье
                           .filter__wrapp
                               .form-group
                                   .checbox
                                       input(type='checkbox', id="check41", name='sport', value='1')
                                       label(for="check41") МЕДИЦИНСКИЕ ЦЕНТРЫ

                   .filter__cell
                        .select-filter
                            .select-filter__item
                                .filter__name
                                    .filter__ico
                                        img(src="./images/ico-filters5.png")
                                    span Район
                                .form-group
                                    select(name='select1')
                                        option(value="0", disabled, selected ) Выберите район
                                        option(value="1", ) option 1
                                        option(value="2", ) option 2
                                        option(value="3", ) option 3
                                        option(value="4", ) option 4
                                        option(value="5", ) option 5
                            .select-filter__item
                                .filter__name
                                    .filter__ico
                                        img(src="./images/ico-filters6.png")
                                    span Район
                                .form-group
                                    select(name='select2')
                                        option(value="0", disabled, selected ) Выберите станцию
                                        option(value="1", ) option 1
                                        option(value="2", ) option 2
                                        option(value="3", ) option 3
                                        option(value="4", ) option 4
                                        option(value="5", ) option 5
                            .select-filter__item
                                .filter__name
                                    .filter__ico
                                        img(src="./images/ico-filters7.png")
                                    span Время работы
                                .form-group
                                    select(name='select3')
                                        option(value="0", disabled, selected ) Выберите время
                                        option(value="1", ) option 1
                                        option(value="2", ) option 2
                                        option(value="3", ) option 3
                                        option(value="4", ) option 4
                                        option(value="5", ) option 5

                   .form-group__btn.btn-inner.btn-inner--center.filter__btn
                       input(type="submit", class="btn btn--transparent btn--submit" value="Применить")
                   .total-result.ssm-visible.ssm-visible--flex ПОДХОДИТ МОДЕЛЕЙ: 56

        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card.png", "big-item--fix-content")
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card2.png", "big-item--fix-content")
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card.png", " big-item--fix-content")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card2.png", "big-item--fix-content")
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card.png", " big-item--fix-content")
                                +big-item--ico("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "./images/ico-card2.png", "big-item--fix-content")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        +section_name("Другие компании")
        .company
            .container
                .company__inner
                    .brands-slider.brands-slider--all-brands
                        .brands-slider__item
                            +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                            +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                            +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                        .btn-inner.btn-inner--center.ssm-visible
                            a(href="").read-all Перейти в раздел
                        .btn-inner.btn-inner--center.ssm-hidden
                            .view-more Загрузить еще
                        .btn-inner.btn-inner--center.ssm-hidden
                            .view-more.view-more--loading Загрузить еще


block scripts

