extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Категории'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview.h1-preview--no-border
                .h1-preview__inner(style="background-image: url('./images/h1-bg2.jpg')")
                    .h1-preview__name Мода
            .name-page
                span Обзор
            .breadcrumb.breadcrumb--new.breadcrumb--compress
                ul(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="/" title="Главная" itemprop="item")
                            span(itemprop="name") Главная
                            meta(itemprop="position" content="0")
                        li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                            a(href="/" title="Главная" itemprop="item")
                                span(itemprop="name") Внутренняя
                                meta(itemprop="position" content="0")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                        span(itemprop="name") Мода
                        meta(itemprop="position" content="1")
            .nav-filter
                .container
                    ul.nav-filter__list
                        li.nav-filter__item
                            a(href="#").nav-filter__link Стратьи
                        li.nav-filter__item.nav-filter__item--active
                            a(href="#").nav-filter__link Видео
                        li.nav-filter__item
                            a(href="#").nav-filter__link Компании
                        li.nav-filter__item
                            a(href="#").nav-filter__link Эксперты
                        li.nav-filter__item
                            a(href="#").nav-filter__link Фотоотчеты
        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--fix-content")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--fix-content")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", " big-item--fix-content")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--fix-content")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", " big-item--fix-content")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--fix-content")
                                .big-wrapp__banner-cell.ssm-visible
                                    +banner("./images/banner2.jpg")
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        .small-card-wrapp
            .container
                .small-card-wrapp__inner
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                .btn-inner.btn-inner--center.ssm-visible
                    a(href="").read-all Читать все
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more Загрузить еще
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more.view-more--loading Загрузить еще
        +section_name("Видео")
        .preview.preview--video.preview--no-btm-border
            .container
                .preview__inner
                    .grid
                        .grid__cell
                            .preview-slider
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                        .grid__cell
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0")
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse dolor sit amet conse", "17 ноября 2017", "116", "0")
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0")
                        .grid__cell.md-visible
                            +banner("./images/banner1.jpg")
        +section_name("Компании")
        .company
            .container
                .company__inner
                    .brands-slider.brands-slider--all-brands
                        .brands-slider__item
                            +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                            +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                            +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.", "ssm-hidden")
                            +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                        .btn-inner.btn-inner--center.ssm-visible
                            a(href="").read-all Перейти в раздел
                        .btn-inner.btn-inner--center.ssm-hidden
                            .view-more Загрузить еще
                        .btn-inner.btn-inner--center.ssm-hidden
                            .view-more.view-more--loading Загрузить еще
        +section_name("Экперты")
        .experts.experts--big-item
            .container
                .experts__wrapp
                    .experts__inner
                        .experts__item
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item.ssm-hidden
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item.ssm-hidden
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item.ssm-hidden
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item.ssm-hidden
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                        .experts__item.ssm-hidden
                            +small-info("./images/experts.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                    .btn-inner.btn-inner--center.ssm-visible
                        a(href="").read-all Больше экспертов
                    .btn-inner.btn-inner--center.ssm-hidden
                        .view-more Загрузить еще
                    .btn-inner.btn-inner--center.ssm-hidden
                        .view-more.view-more--loading Загрузить еще

block scripts

