extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Эталонка'
    - var dir = ''

block main
    main.main
        .container
            .breadcrumb.breadcrumb--compress
                ul(itemscope itemtype="http://schema.org/BreadcrumbList")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="/" title="Главная" itemprop="item")
                            span(itemprop="name")
                            meta(itemprop="position" content="0")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="#" title="внутренняя  " itemprop="item")
                            span(itemprop="name") Каталог
                            meta(itemprop="position" content="1")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="#" title="внутренняя  " itemprop="item")
                            span(itemprop="name") Очень очень длинное название товара Очень очень длинное название товара Очень очень длинное название товара
                            meta(itemprop="position" content="2")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="#" title="внутренняя  " itemprop="item")
                            span(itemprop="name") Тип товара
                            meta(itemprop="position" content="3")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="#" title="внутренняя  " itemprop="item")
                            span(itemprop="name") Тип товара длинное название
                            meta(itemprop="position" content="4")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                        a(href="#" title="внутренняя  " itemprop="item")
                            span(itemprop="name") Тип товара
                            meta(itemprop="position" content="5")
                    li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                        span(itemprop="name") Карточка товара
                        meta(itemprop="position" content="6")
                .breadcrumb-mobile
                    a(href="#") Главная
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Личный кабинет
            .row
                .col-sm-12.col-md-3
                    .sidebar
                        .sidebar__name.ssm-visible  меню
                        ul.sidebar__list
                            li.sidebar__item
                                a(href="#").sidebar__link о проекте
                            li.sidebar__item.active
                                a(href="#").sidebar__link Контакты
                            li.sidebar__item
                                a(href="#").sidebar__link Рекламодателям
                            li.sidebar__item
                                a(href="#").sidebar__link ПРАВОВАЯ ИНФОРМАЦИЯ
                .col-md-6.col-sm-12
                    .wrapp-content
                        .content
                            h2.mb_1.
                                h2 Lorem ipsum dolor sit amet conse ctetur blandit
                                praesent odio adipiscing elit
                            p.subtitle Lorem ipsum dolor sit amet conse ctetur blandit praesent odio adipiscing elit
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                                a(href="#") Кремль решил не добиваться
                                | повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента
                                mark пишут «Ведомости».
                            p
                                b Lorem ipsum dolor sit amet conse ctetur blandit praesent odio adipiscing elit
                            h3.
                                h3 Lorem ipsum dolor sit amet conse ctetur blandit
                                praesent odio adipiscing elit
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            h4.
                                h4 Lorem ipsum dolor sit amet conse ctetur blandit
                                   praesent odio adipiscing elit
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            h5.
                                h5 Lorem ipsum dolor sit amet conse ctetur blandit
                                   praesent odio adipiscing elit
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            h6.
                                h5 Lorem ipsum dolor sit amet conse ctetur blandit
                                    praesent odio adipiscing elit
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            p
                                b bold <br>
                                strong strong  <br>
                                small small <br>
                                i курсив i  <br>
                                em курсив em <br>
                                s перечеркнутый тексте S <br>
                            p
                                b.
                                    bold
                                strong.
                                    strong
                                small.
                                    small
                                i.
                                    курсив i
                                em.
                                    курсив em
                                s.
                                    перечеркнутый тексте S
                            ul.accordion
                                li(class="collapsed", data-toggle="collapse" data-target="#collap_acc1" aria-expanded="false" aria-controls="collap_acc1")
                                    | н4 - Noto Sans - Bold - 18 пикс.
                                    .accordion__content(class="collapse" id="collap_acc1") Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».  Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
                                li(class="collapsed", data-toggle="collapse" data-target="#collap_acc2" aria-expanded="false" aria-controls="collap_acc2")
                                    | н4 - Noto Sans - Bold - 18 пикс.
                                    .accordion__content(class="collapse" id="collap_acc2") Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».  Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
                                li(class="collapsed", data-toggle="collapse" data-target="#collap_acc3" aria-expanded="false" aria-controls="collap_acc3")
                                    | н4 - Noto Sans - Bold - 18 пикс.
                                    .accordion__content(class="collapse" id="collap_acc3") Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».  Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
                                li(class="collapsed", data-toggle="collapse" data-target="#collap_acc4" aria-expanded="false" aria-controls="collap_acc4")
                                    | н4 - Noto Sans - Bold - 18 пикс.
                                    .accordion__content(class="collapse" id="collap_acc4") Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».  Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
                            blockquote
                                |   Lorem ipsum dolor sit amet conse ctetur blandit praesent odio adipiscing elit
                            p.
                                Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение соответствующий условий активизации. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа форм развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки дальнейших направлений развития.
                                                                Разнообразный и богатый опыт новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке новых предложений. С другой стороны сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение новых предложений.
                            h3 h3 Жирный текст
                            p
                                b Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
                            p Утверждается, что явку решили не стимулировать в Свердловской, Ярославской, Калининградской и Кировской областях, а также в Бурятии. Это поможет гарантировать победу поддержанных Кремлем кандидатов.
                            p!= 'В двух случаях собеседник «Ведомостей» связывает такое решение с сильными конкурентами кандидатов от власти: оппозиционер <a href="#"> Евгений Ройзман </a> в Свердловской области и сенатор Вячеслав Мархаев в Бурятии.'
                            p По информации издания, в Ярославской и Кировской области против назначенцев Кремля выступили местные элиты. Наконец, выдвинутого в Калининградской области Антона Алиханова сочли слишком молодым.
                            p В 2016 году РБК писало, что <mark> новый первый замглавы </mark> администрации Кремля Сергей Кириенко поставил задачу обеспечить на выборах президента в 2018 году явку 70 процентов и результат 70 процентов за основного кандидата.
                            p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать на любом участке, записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.
                            ol
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                            p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать на любом участке, записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.
                            ol
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                    ul
                                        li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                        li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                        li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                            p Помимо этого к президентским выборам было решение изменить избирательное законодательство. Любой избиратель сможет проголосовать на любом участке, записавшись туда заранее. Открепительные удостоверения будут отменены. По оценке главы ЦИК Эллы Памфиловой, это может дать явку до 80 процентов.
                            ul
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
                                li Значимость этих проблем настолько очевидна, что постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.

                            table
                                thead
                                    tr
                                        th №
                                        th id
                                        th Длинное длинное описание
                                        th Цена

                                tbody
                                    tr
                                        td 1
                                        td 500$
                                        td Федосий
                                        td Фасевич
                                    tr
                                        td 2
                                        td 5000$
                                        td Илья
                                        td Алмаев
                                    tr
                                        td 3
                                        td 5a4390b0
                                        td Илья
                                        td Sed ut perspiciatis
                                    tr
                                        td 4
                                        td 5000$
                                        td Илья
                                        td Алмаев
                                    tr
                                        td 5
                                        td 500$
                                        td Илья
                                        td Алмаев
                                    tr
                                        td 6

                                        td Sed ut punde omnis iste natu
                                        td Никита
                                        td Sed ut perspiciatis
                        .row
                            .col-lg-12
                                .tabs
                                    ul#tabsJustified.nav.nav-tabs
                                        li.nav-item
                                            a.nav-link.small.text-uppercase(href='', data-target='#home1', data-toggle='tab') Вкладка
                                        li.nav-item
                                            a.nav-link.small.text-uppercase.active(href='', data-target='#profile1', data-toggle='tab') Вкладка
                                        li.nav-item
                                            a.nav-link.small.text-uppercase(href='', data-target='#vkladka1', data-toggle='tab') Вкладка
                                        li.nav-item
                                            a.nav-link.small.text-uppercase(href='', data-target='#messages1', data-toggle='tab') Вкладка
                                    #tabsJustifiedContent.tab-content
                                        #home1.tab-pane.fade
                                            .content
                                                p Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение соответствующий условий активизации. Идейные
                                        #profile1.tab-pane.fade.active.show
                                            .content
                                                p Ураааа! новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение соответствующий условий активизации. Идейные
                                        #vkladka1.tab-pane.fade
                                            .content
                                                p Ураааа! новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение соответствующий условий активизации. Идейные
                                        #messages1.tab-pane.fade
                                            .content
                                                p Ребяяяяята! новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение соответствующий условий активизации. Идейные

block popup

block scripts
    //script for forms
    //script(src="js/vendor/bootstrap-datetimepicker.js")
    //// rus lang for date input
    //script(src="js/vendor/locales/bootstrap-datetimepicker.ru.js")






