extends ../templates/layout

block vars
    - var bodyClass = 'index'
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var dir = ''

block main

    main.main
        .preview
            .container
                .preview__inner
                    .grid
                        .grid__cell
                            .preview-slider
                                +big-slide("./images/big-slide1.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-slide("./images/big-slide1.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-slide("./images/big-slide1.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-slide("./images/big-slide1.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                        .grid__cell
                            +small-item("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0", "./images/small-item.jpg")
                            +small-item("./images/small-item.jpg", "мода", "Dolor sit amet conse dolor sit amet conse", "17 ноября 2017", "116", "0", "./images/small-item.jpg")
                            +small-item("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0", "./images/small-item.jpg")
                        .grid__cell.ssm-hidden
                            +banner("./images/banner1.jpg")
        .name-section.name-section--subscription
            .container
                .name-section__wrapp
                    form.name-section__inner#podpiska(method='post', action='')
                        .name-section__ico
                        .name-section__name Подпишись на рассылку
                        .form-group
                            input.form-control.form-group__input(placeholder="E-mail", required, name="email2" )
                        .form-group__btn
                            input(type="submit", class="btn btn--transparent btn--submit" value="подписаться")
        +section("Журнал", "Перейти в раздел")
        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--small-type")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--small-type")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--small-type")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                            .btn-inner.btn-inner--center.ssm-visible
                                a(href="").read-all Читать все
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        +section("Видео", "Перейти в раздел")
        .preview.preview--video
            .container
                .preview__inner
                    .grid
                        .grid__cell
                            .preview-slider
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                                +big-slide--video("./images/big-slide2.jpg","МОДА", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "md-hidden")
                        .grid__cell
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0")
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse dolor sit amet conse", "17 ноября 2017", "116", "0")
                            +small-item--video("./images/small-item.jpg", "мода", "Dolor sit amet conse", "17 ноября 2017", "116", "0")
                        .grid__cell.md-visible
                            +banner("./images/banner1.jpg")
        +name-section("Компании и эксперты")
        +section("каталог компаний", "Перейти в раздел")
        .company
            .container
                .company__inner
                    .grid
                        .grid__cell
                            .brands-slider
                                .brands-slider__item
                                    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                                    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.", "ssm-hidden")
                                    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.", "ssm-hidden")
                                    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.", "ssm-hidden")
                                .btn-inner.btn-inner--center.ssm-visible
                                    a(href="").read-all Перейти в раздел
                                //.brands-slider__item
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")
                                //.brands-slider__item
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")
                                //.brands-slider__item
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Godeas Beauty Hall", "г. Минск,", "ул. Л. Беды, 45.")
                                //    +brand("./images/brands-logo.png", "Салон красоты", "Итейра Метрополь", "г. Минск,", "ул. Революционная, 30.")
                                //    +brand("./images/brands-logo.png", "СПА-САЛОНЫ", "Beauty-Time", "г. Минск,", "г. Минск, пр. Машерова, 54.")

                        .grid__cell
                            .company-slider
                                .company-slider__item
                                    +company-slide("./images/company-slide.jpg", "СПОРТИВНОЕ ПИТАНИЕ", "FITLINE", "Сеть магазинов спортивного питания")
                                .company-slider__item
                                    +company-slide("./images/company-slide.jpg", "СПОРТИВНОЕ ПИТАНИЕ", "FITLINE", "Сеть магазинов спортивного питания")
                                .company-slider__item
                                    +company-slide("./images/company-slide.jpg", "СПОРТИВНОЕ ПИТАНИЕ", "FITLINE", "Сеть магазинов спортивного питания")
                                .company-slider__item
                                    +company-slide("./images/company-slide.jpg", "СПОРТИВНОЕ ПИТАНИЕ", "FITLINE", "Сеть магазинов спортивного питания")
        +section("эксперты", "Перейти в раздел")
        .experts
            .container
                .experts__wrapp
                    .grid
                        .grid__cell
                            .experts__inner
                                .experts__item
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                                .experts__item
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                                .experts__item
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                                .experts__item.md-hidden
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                                .experts__item.md-hidden
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                                .experts__item.md-hidden
                                    +small-info("./images/small-info.jpg", "Зож", "Сергей Матвеев", "Врач-косметолог, биолог, разработчик косметики.")
                            .btn-inner.btn-inner--center.ssm-visible
                                a(href="").read-all Больше экспертов
                        .grid__cell
                            +banner("./images/banner2.jpg")
        +name-section("Афиша")
        +section("Афиша", "Перейти в раздел")
        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item--with-big-date("./images/big-item.jpg", "мода",  "18", "ноября", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "ssm-hidden")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                                +big-item--with-big-date("./images/big-item.jpg", "мода", "18", "ноября",  "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        .small-card-wrapp
            .container
                .small-card-wrapp__inner
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                .btn-inner.btn-inner--center.ssm-visible
                    a(href="").read-all Читать все
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more Загрузить еще
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more.view-more--loading Загрузить еще
        +section("мода", "Перейти в раздел")
        .card-wrapp
            .container
                .card-wrapp__inner
                    .grid
                        .grid__cell
                            .big-wrapp
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--small-type")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0" )
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "big-item--small-type")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                                +big-item("./images/big-item.jpg", "мода", "Lorem ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipiscing elit", "17 ноября 2017", "116", "0", "sm-hidden")
                        .grid__cell.md-hidden
                            +banner("./images/banner2.jpg")
                            +banner("./images/banner2.jpg")
        .small-card-wrapp
            .container
                .small-card-wrapp__inner
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                    .small-card-wrapp__item.md-hidden
                        +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                .btn-inner.btn-inner--center.ssm-visible
                    a(href="").read-all Читать все
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more Загрузить еще
                .btn-inner.btn-inner--center.ssm-hidden
                    .view-more.view-more--loading Загрузить еще

block popup

