extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Избранное'
    - var dir = ''

block main
    main.main
        .container

block scripts

