extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Сменить пароль'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Личный кабинет
            .row
                .col-md-3.col-sm-12
                    .sidebar
                        .sidebar__name.ssm-visible  меню
                        ul.sidebar__list
                            li.sidebar__item.active
                                a(href="#").sidebar__link ИЗБРАННЫЕ МАТЕРИАЛЫ
                            li.sidebar__item
                                a(href="#").sidebar__link ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                            li.sidebar__item
                                a(href="#").sidebar__link СМЕНИТЬ ПАРОЛЬ
                            li.sidebar__item
                                a(href="#").sidebar__link ПОДПИСКА
                            li.sidebar__item
                                a(href="#").sidebar__link ВЫХОД
                .col-md-9.col-sm-12
                    .lk-content.lk-content--pass
                        .lk-content__inner
                            .lk-content__name сменить пароль
                            form.lk-form#change_pass
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="pass" )
                                    span.form-group__placeholder Текущий пароль
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="new_pass" )
                                    span.form-group__placeholder Новый пароль
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="repeat_new_pass" )
                                    span.form-group__placeholder Повторите пароль
                                .form-group__btn.form-group__btn--center
                                    input(type="submit", class="btn btn--transparent btn--submit" value="Сохранить")


block scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $('#change_pass').bootstrapValidator();
        });
