extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Избранное'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Личный кабинет
            .row
                .col-md-3.col-sm-12
                    .sidebar
                        .sidebar__name.ssm-visible  меню
                        ul.sidebar__list
                            li.sidebar__item.active
                                a(href="#").sidebar__link ИЗБРАННЫЕ МАТЕРИАЛЫ
                            li.sidebar__item
                                a(href="#").sidebar__link ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                            li.sidebar__item
                                a(href="#").sidebar__link СМЕНИТЬ ПАРОЛЬ
                            li.sidebar__item
                                a(href="#").sidebar__link ПОДПИСКА
                            li.sidebar__item
                                a(href="#").sidebar__link ВЫХОД
                .col-md-9.col-sm-12
                    .lk-subscription
                        .lk-subscription__item
                            +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                        .lk-subscription__item
                            +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                        .lk-subscription__item
                            +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                        .lk-subscription__item
                            +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")
                        .lk-subscription__item
                            +small-item--with-content-big-date("./images/small-item2.jpg", "18", "ноября", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet consectetur adipiscing elit",  "17 ноября 2017", "116", "0")

block scripts

