extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Избранное'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Личный кабинет
            .row
                .col-md-3.col-sm-12
                    .sidebar
                        .sidebar__name.ssm-visible  меню
                        ul.sidebar__list
                            li.sidebar__item
                                a(href="#").sidebar__link ИЗБРАННЫЕ МАТЕРИАЛЫ
                            li.sidebar__item.active
                                a(href="#").sidebar__link ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                            li.sidebar__item
                                a(href="#").sidebar__link СМЕНИТЬ ПАРОЛЬ
                            li.sidebar__item
                                a(href="#").sidebar__link ПОДПИСКА
                            li.sidebar__item
                                a(href="#").sidebar__link ВЫХОД
                .col-md-9.col-sm-12
                    .lk-content.lk-content--subscription
                        form.lk-form.form-subscription#subscription
                            .lk-content__inner
                                .lk-content__name Мои данные
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="mail" )
                                    span.form-group__placeholder Имя и фамилия
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="mail" )
                                    span.form-group__placeholder e-mail
                                .form-group.form-group--gender
                                    .radio-name Пол:
                                    .radio
                                        input(type='radio', id="radio1", name='gender', value='1')
                                        label(for="radio1")  МОДА
                                    .radio
                                        input(type='radio', id="radio2", checked name='gender', value='2')
                                        label(for="radio2")   КРАСОТА
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="mail" )
                                    span.form-group__placeholder Дата рождения
                                .form-group__btn.form-group__btn--center
                                    input(type="submit", class="btn btn--transparent btn--submit" value="Сохранить")
                            .lk-content__inner
                                .lk-content__name МОИ АККАУНТЫ
                                .lk-content__title Привяжите ваши аккаунты в соцсетях к личному кабинету для быстрого доступа к сохранённой информации
                                .sub-social
                                    .sub-social__item.sub-social__item--fb
                                    .sub-social__item.sub-social__item--vk
                                    .sub-social__item.sub-social__item--google

block scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $('#subscription').bootstrapValidator();
        });
