extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Подписка'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Личный кабинет
            .row
                .col-md-3.col-sm-12
                    .sidebar
                        .sidebar__name.ssm-visible  меню
                        ul.sidebar__list
                            li.sidebar__item.active
                                a(href="#").sidebar__link ИЗБРАННЫЕ МАТЕРИАЛЫ
                            li.sidebar__item
                                a(href="#").sidebar__link ПЕРСОНАЛЬНЫЕ ДАННЫЕ
                            li.sidebar__item
                                a(href="#").sidebar__link СМЕНИТЬ ПАРОЛЬ
                            li.sidebar__item
                                a(href="#").sidebar__link ПОДПИСКА
                            li.sidebar__item
                                a(href="#").sidebar__link ВЫХОД
                .col-md-9.col-sm-12
                    .lk-content.lk-content--subscription
                        form.lk-form.form-subscription#subscription
                            .lk-content__inner
                                .lk-content__name Подпиcка
                                .form-group
                                    input.form-control.form-group__input(placeholder="", required, name="mail" )
                                    span.form-group__placeholder e-mail
                            .lk-content__inner
                                .lk-content__name МОИ АККАУНТЫ
                                .lk-content__title Привяжите ваши аккаунты в соцсетях к личному кабинету для быстрого доступа к сохранённой информации
                                .sub-social
                                    .sub-social__item.sub-social__item--fb
                                    .sub-social__item.sub-social__item--vk
                                    .sub-social__item.sub-social__item--google
                            .lk-content__inner
                                .lk-content__name ВЫБЕРИТЕ ИНТЕРЕСУЮЩИЕ ВАС РУБРИКИ
                                .form-group.form-group--sub-checkbox
                                    .checkbox
                                        input(type='checkbox',id="check1", name='type', value='1')
                                        label(for="check1")  МОДА
                                    .checkbox
                                        input(type='checkbox', id="check2", checked name='type', value='2')
                                        label(for="check2")   КРАСОТА
                                    .checkbox
                                        input(type='checkbox', id="check3", name='type', value='3')
                                        label(for="check3")   ЗОЖ
                                    .checkbox
                                        input(type='checkbox', id="check4",, name='type', value='4')
                                        label(for="check4")  ЖИЗНЬ
                                    .checkbox
                                        input(type='checkbox', id="check5", name='type', value='5')
                                        label(for="check5")   МОДЕЛИ
                                    .checkbox
                                        input(type='checkbox', id="check6", name='type', value='6')
                                        label(for="check6")   КОМПАНИИ
                                    .checkbox
                                        input(type='checkbox', id="check7", name='type', value='7')
                                        label(for="check7")   АФИША
                                    .chek-all.deactive  все
                                .form-group__btn.form-group__btn--center
                                    input(type="submit", class="btn btn--transparent btn--submit" value="Сохранить")

block scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $('#subscription').bootstrapValidator();
        });


