extends ../templates/layout

block vars
    - var bodyClass = 'index'
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Главная'
    - var dir = ''

block main

    main.main
        .container
            .btn(data-toggle="modal" data-target="#modal_avtoriz") Войти
            .btn(data-toggle="modal" data-target="#rigistr") Регистрация
            .btn(data-toggle="modal" data-target="#modal_feedback") Обратная связь
            .btn(data-toggle="modal" data-target="#modal_subscription") Успешная подписка

block scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $('#avtorizForm').bootstrapValidator('validate');
            $('#registrForm').bootstrapValidator('validate');
            $('#feedbackForm').bootstrapValidator('validate');

        });
block popup
    #modal_avtoriz.modal.modal--avtoriz.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    .modal__heading ВОЙТИ В КАБИНЕТ
                    .modal__tittle
                        | У вас нет аккаунта?
                        <br>
                        <a href="#"> Создайте </a> свой аккаунт на нашем сайте.
                    form.form#avtorizForm
                        .form-group
                            input.form-control.form-group__input(type="text", placeholder="E-mail", required, name="E-mail" )
                        .form-group
                            input.form-control.form-group__input(type="password" placeholder="Пароль", required, name="pass" )
                        .forgot-pass
                            a(href="#").forgot-pass__link Забыли пароль?
                        .form-group__btn
                            input(type="submit", class="btn btn--transparent btn--modal-form" value="Войти ")
                    .enter-social
                        .enter-social__name Войти через социальную сеть
                        .enter-social__inner
                            .enter-social__item.enter-social__item--fb
                            .enter-social__item.enter-social__item--vk
                            .enter-social__item.enter-social__item--google


    #rigistr.modal.modal--registr.fade(tabindex='-1', role='dialog', aria-labellby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    .modal__heading Создать аккаунт
                    .modal__tittle
                        | Есть личный кабинет? <a href="#"> Войдите  </a> в свой аккаунт для просмотра профильной информации.
                    form.form#registrForm
                        .form-group
                            input.form-control.form-group__input(type="text" placeholder="Имя и фамилия", required, name="name" )
                        .form-group
                            input.form-control.form-group__input(type="text" placeholder="Email", required, name="name" )
                        .form-group
                            input.form-control.form-group__input(type="password" placeholder="Пароль", required, name="name" )
                        .form-group
                            input.form-control.form-group__input(type="password" placeholder="Повторите пароль", required, name="name" )
                        .form-group__btn
                            input(type="submit", class="btn btn--transparent btn--submit" value="Создать")
                    .enter-social
                        .enter-social__name Войти через социальную сеть
                        .enter-social__inner
                            .enter-social__item.enter-social__item--vk
                            .enter-social__item.enter-social__item--fb
                            .enter-social__item.enter-social__item--google

    #modal_feedback.modal--feedback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    .modal__heading Обратная связь
                    form.form#feedbackForm
                        .form-group
                            input.form-control.form-group__input(placeholder="Имя", required, name="name" )
                        .form-group
                            input.form-control.form-group__input(placeholder="E-mail", required, name="email" )
                        .form-group
                            textarea.form-control.form-group__textarea(placeholder="Сообщение", required, name="message" )
                        .form-group__btn.form-group__btn--center
                            input(type="submit", class="btn btn--transparent btn--submit" value="отправить")
    #modal_subscription.modal--subscription.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    .modal__heading.modal__heading--subscription ВЫ УСПЕШНО ПОДПИСАНЫ НА
                    .modal__ico-logo
                        img(src="./images/logo-name.png")
                    .modal__tittle
                        | Настроить подписку вы можете в <br> <a href="#"> Личном кабинете. </a>
                    .btn-inner.btn-inner--center
                        .btn Зарегистрироваться
                    .btn-inner.btn-inner--center
                        .btn Войти
                    .enter-social
                        .enter-social__name Войти через социальную сеть
                        .enter-social__inner
                            .enter-social__item.enter-social__item--vk
                            .enter-social__item.enter-social__item--fb
                            .enter-social__item.enter-social__item--google
