body {

  &:before {
    content: '';
    transition: .3s;
    opacity: 0;
  }

  &.hidden {
    overflow: hidden;
  }

  &.fogging {
    overflow: hidden;

    &:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.3;
      z-index: 100;
    }
  }
}

.md-visible {
  display: none !important;

  @include to_width($md) {
    display: block !important;

    &--flex {
      display: flex !important;
    }
  }
}

.ssm-visible {
  display: none !important;

  @include to_width($ssm) {
    display: block !important;

    &--flex {
      display: flex !important;
    }
  }
}

.sm-visible {
  display: none !important;

  @include to_width($sm) {
    display: block !important;

    &--flex {
      display: flex !important;
    }
  }
}

.md-visible {
  display: none !important;

  @include to_width($xs) {
    display: block !important;

    &--flex {
      display: flex !important;
    }
  }
}

.md-hidden {
  @include to_width($md) {
    display: none !important;
  }
}

.ssm-hidden {
  @include to_width($ssm) {
    display: none !important;
  }
}

.sm-hidden {
  @include to_width($sm) {
    display: none !important;
  }
}

.md-hidden {
  @include to_width($xs) {
    display: none !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
  //overflow: hidden;

  &--menu-fixed {
    padding-top: 182px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  @include to_width($sm) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include to_width($ssm) {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.main {
  flex: 1;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  &__cell {
    width: 50%;
    padding: 0 8px;

    @include to_width(767px) {
      width: 100%;
    }
  }
}

.logo {
  display: inline-block;

  &--footer {
    margin-bottom: 15px;
  }
}

.form-group {
  margin-bottom: 22px;
  position: relative;

  .help-block {
    color: #cc6666;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &.has-error {

    .form-group__input,
    .form-group__textarea {
      border-color: #cc6666;
    }
  }

  &__placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 14px;
    color: #888888;
    transform: translateY(-50%);
    padding: 0 15px;
    z-index: -1;
    background: #fff;
    transition: .4s;
    font-size: 16px;
  }

  &__btn {

    &--center {

      text-align: center;
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;
    font-size: 15px;
    padding: 13px 13px;
    border: 1px solid #a8a8a8;
    outline: none;
    font-family: $f-main;
    transition: .3s;
    border-radius: 0;
    color: #000;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #6f6f6f;
    }
  }

  &__input {
    width: 100%;
    height: 44px;
    font-size: 15px;
    padding: 0 13px;
    border: 1px solid #a8a8a8;
    outline: none;
    font-family: $f-main;
    transition: .3s;
    border-radius: 0;
    color: #000;
    background: transparent;

    @include to_width($md) {
      height: 34px
    }

    &--focus,
    &:focus {
      outline: none;
      box-shadow: none;
      background: transparent;
      border-color: #6f6f6f;

      & + .form-group__placeholder {
        top: 13px;

        font-size: 12px;
      }
    }
  }

  &--sub-checkbox {
    position: relative;
    width: 100%;
    max-width: 250px;
    column-count: 2;
  }

  &--gender {
    display: flex;
    align-items: center;
  }
}

.btn {
  display: inline-flex;
  min-width: 86px;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  border: 1px solid $brown;
  background: #fff;
  color: $brown;
  border-radius: 17px;
  margin-bottom: 20px;
  outline: none;

  &:hover {
    text-decoration: none;
    background: $brown;
    color: #fff;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--transparent {
    background: transparent;
  }

  &--avtoriz {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 0;
  }

  &--modal-form {
    margin-bottom: 5px;
  }
}

.btn-search {
  cursor: pointer;
  padding: 5px;

  @include i;
  @include i-ico-search;

  &:hover {
    @include i-ico-search--active;
  }

  &.active {
    @include i-ico-search--active;
  }

  &:before {
    display: block;
  }
}

.preview {

  &__inner {
    border-bottom: 2px solid $brown;
    margin-bottom: 22px;

    @include to_width($ssm) {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .grid {

      &__cell {
        &:first-child {
          width: 55%;

          @include to_width($md) {
            width: 100%;
          }
        }

        &:nth-child(2) {
          width: 30%;

          @include to_width($md) {
            width: 50%;
          }

          @include to_width($ssm) {
            width: 100%;
          }
        }

        &:nth-child(3) {
          width: 15%;

          @include to_width($md) {
            width: 50%;
          }

          @include to_width($ssm) {
            width: 100%;
          }
        }
      }
    }
  }

  &--grid {

    .preview__inner {
      margin-bottom: 0;
      border-bottom: 0;

      .grid {
        margin: 0 -13px;

        &__cell {
          padding: 0 13px;
          &:first-child {
            width: 56.6%;

            @include to_width($md) {
              width: 100%;
            }
          }

          &:nth-child(2) {
            width: 28.4%;

            @include to_width($md) {
              width: 50%;
            }

            @include to_width($ssm) {
              width: 100%;
            }
          }

          &:nth-child(3) {
            width: 15%;

            @include to_width($md) {
              width: 50%;
            }

            @include to_width($ssm) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &--video {

    .small-item__play-video {

      @include to_width($ssm) {
        top: 37px;
        left: 60px;
      }
    }

    .small-item__data {
      @include to_width($ssm) {
        display: none;
      }
    }

    .small-item__images {

      @include to_width($ssm) {
        width: 112px;
        position: static;
      }
    }

    .small-item__collection {
      margin-bottom: 10px;
      font-size: 9px;
      color: #000;
    }

    .small-item__name {
      color: #000;
      font-size: 16px;
      font-weight: 900;

      @include to_width($ssm) {
        margin-bottom: 0;
      }
    }

    .small-item__inner {
      padding: 0;
      z-index: 1;
      text-align: left;
    }

    .small-item {
      margin-bottom: 63px;

      @include to_width($sm) {
        margin-bottom: 22px;

        &:before {
          content: none;
        }
      }

      @include to_width($ssm) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;

        @include to_width($ssm) {
          margin-bottom: 20px;
        }
      }
    }

    .preview-slider {
      height: 446px;
      margin-bottom: 0;

      @include to_width($md) {
        margin-bottom: 22px;
      }
    }

    .big-slide {
      min-height: 446px;
    }

    .preview__inner {
      padding-bottom: 32px;
      margin-bottom: 32px;

      @include to_width($md) {
        margin-bottom: 0;
        border: none;
      }

      @include to_width($sm) {
        padding-bottom: 0;
        border: none;
        margin-bottom: 15px;
      }

      .grid {
        margin: 0 -8px;

        &__cell {
          padding: 0 8x;
          &:first-child {
            width: 70%;

            @include to_width($md) {
              width: 100%;
            }
          }

          &:nth-child(2) {
            width: 30%;

            @include to_width($md) {
              width: 50%;
            }

            @include to_width($ssm) {
              width: 100%;
            }
          }
          &:nth-child(3) {

            @include to_width($md) {
              width: 50%;
            }

            @include to_width($ssm) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &--no-btm-border {

    .preview__inner {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 22px;
    }
  }
}

img {
  max-width: 100%;
}

a {
  transition: .3s;

  &:hover {
    text-decoration: none;
  }
}

.card-wrapp {

  &__inner {

    .grid {
      margin: 0 -12px;

      &__cell {
        padding: 0 12px;

        &:first-child {
          width: 85%;

          @include to_width($md) {
            width: 100%;
          }
        }

        &:nth-child(2) {
          width: 15%;
        }
      }
    }
  }
}

.play-video {
  @include i;
  @include i-ico-play;
  display: block;
  outline: none;
  text-align: center;

  &:before {
    display: block;
  }

  &:hover {
    @include i-ico-play--hover;
  }
}

.btn-inner {

  &--center {
    text-align: center;
  }
}

.view-more {
  font-size: 18px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  @include i;
  @include i-ico-prreloader;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    //    transform: translateX(-50%);
    margin: 0 0 0 -14px;
  }

  &:hover {
    text-decoration: none;
    color: $brown;
    @include i-ico-prreloader--hover;
  }

  &--loading {
    pointer-events: none;
    color: $brown;
    @include i-ico-prreloader--hover;

    &:before {
      animation-name: rotate;
      animation-duration: 600ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

  }
}

.company {
  margin-bottom: 22px;

  &__inner {

    .grid {
      margin: 0 -14px;

      &__cell {
        padding: 0 14px;
        width: 50%;

        @include to_width($md) {
          width: 100%;
        }

        &:first-child {
          @include to_width($md) {
            order: 2;
          }
        }
      }
    }
  }

}

.modal {

  .close {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 111;
    font-size: 30px;
    outline: none;
  }

  &__ico-logo {
    margin-bottom: 20px;
    text-align: center;
  }

  &__heading {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;

    &--subscription {
      font-size: 14px;
    }
  }

  &__tittle {
    font-size: 12px;
    text-align: center;
    color: #000;
    font-weight: 600;
    padding-bottom: 20px;

    a {
      color: $brown;

      &:hover {
        text-decoration: underline;
        color: $brown;
      }
    }
  }

  &--avtoriz {

    .modal-dialog {
      max-width: 425px;
    }
  }

  &--registr {

    .modal-dialog {
      max-width: 425px;
    }
  }

  &--feedback {

    .modal-dialog {
      max-width: 485px;
    }
  }

  &--subscription {

    .modal-dialog {
      max-width: 370px;
    }
  }
}

.modal-content {
  text-align: center;
  border-radius: 0;
  border: 6px solid $brown;
  padding: 25px 40px;
}

.forgot-pass {
  text-align: right;
  padding-bottom: 0;
  font-size: 12px;
  margin-top: -10px;

  &__link {
    color: #000;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color: $brown;
    }
  }
}

.enter-social {

  &__name {
    color: #7f7f7f;
    font-size: 12px;
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0 20px;
    transition: .3s;
    cursor: pointer;
    @include i;

    &:hover {
      transform: scale(1.2);
    }

    &:last-child {
      //      margin-right: 0;
    }

    &--vk {
      @include i-ico-fb--gray;
    }

    &--fb {
      @include i-ico-vk--gray;
    }

    &--google {
      @include i-ico-google--gray;
    }
  }
}

.h1-preview {
  padding-bottom: 22px;
  margin-bottom: 40px;
  border-bottom: 2px solid $brown;
  text-align: center;

  &__btn {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 20px;
  }

  &__inner {
    min-height: 355px;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (max-width: 500px) {
      min-height: 150px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);

    }
  }

  &__name {
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  &--no-border {
    padding-bottom: 0;
    margin-bottom: 13px;
    border: none;

  }
}

.lk-content {
  width: 100%;
  max-width: 300px;

  &__name {
    font-size: 13px;
    line-height: 23px;
    color: #000;
    padding-bottom: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height: 18px;
  }

  &--subscription {
    max-width: 100%;
  }
}

.sidebar {
  position: sticky;
  top: 100px;

  @include to_width($ssm) {
    max-height: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: .4s;
  }

  &.open {
    max-height: 1000px;

    .sidebar__name {
      &:before {
        content: 'Закрыть';
      }
    }
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $brown;
    font-weight: 700;
    text-align: center;

    &:before {
      content: 'Открыть';
    }
  }

  &__list {
    padding: 0;
    margin: 0;

    @include to_width($ssm) {
      background: #be945026;
      text-align: center;
      padding: 20px 10px;
      margin-top: 10px;
    }
  }

  &__item {
    list-style: none;
    margin-bottom: 5px;

    &.active {
      color: $brown;

      .sidebar__link {
        color: $brown;
      }
    }
  }

  &__link {
    list-style: none;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;

    &:hover {
      color: $brown;
    }
  }
}

.lk-form {

  .form-group__input {
    height: 54px;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }
}

.lk-subscription {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__item {
    width: 20%;
    padding: 0 15px 30px 15px;

    @include to_width($md) {
      width: 33.3333333%;
    }

    @include to_width($ssm) {
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 0;

      .small-item__inner {
        padding-bottom: 0;
      }

      .small-item__name {
        margin-bottom: 0;
        width: 100%;
      }

      .small-item__collection {
        order: 2;
        flex: 1;
        padding-left: 10px;
        text-align: right;
        font-size: 9px;
        color: #000;
        a {
          color: #000;
        }
      }

      .small-item__date {
        font-size: 9px;
        color: #000;
        text-align: left;
      }

      .small-item__data {
        order: 1;
        flex: 1;
        justify-content: flex-start;
      }

      .small-item__name {
        order: 3;
        color: #000;
      }

      .small-item__count-view {
        display: none;
      }

      .small-item__content {
        display: none;
      }

      .small-item__count-msg {
        display: none;
      }

      .small-item__images {
        width: 112px;
        margin-bottom: 0;
      }

      .small-item__inner {
        text-align: left;
        padding: 0 0 15px 15px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      .small-item__big-date {
        display: none;
      }

      .small-item {
        flex-wrap: nowrap;
        flex-direction: row !important;
        align-items: flex-start !important;
        height: auto;

        &:before {
          content: none;
        }
      }
    }

  }
}

.form-subscription {

  display: flex;
  flex-wrap: wrap;

  .lk-content__inner {
    width: 100%;
    max-width: 330px;
    padding: 0 15px 15px 15px;

  }
}

.sub-social {
  display: flex;
  align-items: center;
  padding-top: 20px;

  &__item {
    padding: 0;
    margin: 0 70px 0 0;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      @include i;
      @include i-ico-subs-fb;

      &:hover {
        @include i-ico-subs-fb--hover;
      }
    }

    &--vk {
      @include i;
      @include i-ico-subs-vk;

      &:hover {
        @include i-ico-subs-vk--hover;
      }
    }
    &--google {
      @include i;
      @include i-ico-subs-google;

      &:hover {
        @include i-ico-subs-google--hover;
      }
    }
  }
}

.checkbox {

  input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;

    &:checked {

      & + label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 11px;
      height: 11px;
      background: #fff;
      border: 1px solid #000;
    }

    &:after {
      content: '';
      opacity: 0;
      transition: .4s;
      width: 5px;
      height: 5px;
      background: #000;
      left: 3px;
      top: 3px;
      position: absolute;
    }
  }
}

.radio-name {
  margin-right: 15px;
}

.checbox {
  margin-right: 0;

  input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;

    &:checked {

      & + label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 7px;
      height: 7px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 50%;
    }

    &:after {
      content: '';
      opacity: 0;
      transition: .4s;
      width: 3px;
      height: 3px;
      background: #000;
      left: 2px;
      top: 2px;
      position: absolute;
      border-radius: 50%;
    }
  }
}

.radio {
  margin-right: 15px;

  input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;

    &:checked {

      & + label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 11px;
      height: 11px;
      background: #fff;
      border: 1px solid #000;
      border-radius: 50%;
    }

    &:after {
      content: '';
      opacity: 0;
      transition: .4s;
      width: 5px;
      height: 5px;
      background: #000;
      left: 3px;
      top: 3px;
      position: absolute;
      border-radius: 50%;
    }
  }
}

.chek-all {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  top: 0;
  color: $brown;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition: .3s;

  @include to_width(500px) {

    position: static;
    transform: translateX(0%);
    margin-top: 10px;
  }

  &.deactive {

    &:before {
      content: 'Выбрать';
    }
  }

  &.active {

    &:before {
      content: 'Снять';
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.avtoriz-info {
  display: flex;
  align-items: center;
  margin-left: 25px;

  &__images {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    img {
      max-width: 100%;
    }

  }

  &__name {
    transition: .3s;
    font-size: 16px;
    color: #000;

  }

  &:hover {

    .avtoriz-info__name {
      color: $brown;
    }
  }
}

.menu-btn {
  cursor: pointer;
  padding: 5px;
  margin-left: -5px;

  &:hover {

    .menu-btn__item {
      background: $brown;
    }
  }

  &__inner {

  }

  &__item {
    width: 18px;
    height: 2px;
    margin-bottom: 5px;
    background: #362f2f;
    transition: .3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--active {

    .menu-btn__item {
      background: $brown;
    }
  }
}

a.read-all {
  color: #4c4c4c;
  text-decoration: none;
  font-size: 11px;
  line-height: 14px;
  margin: 23px 0 20px 0;
  text-transform: uppercase;
  position: relative;
  padding-right: 25px;
  font-weight: 900;
  display: inline-block !important;

  &:before {
    content: '\2192';
    position: absolute;
    right: 0;
    font-size: 17px;
    line-height: 12px;
    font-weight: 900;

  }

  &:hover {
    color: $brown;
  }
}

.nav-filter {
  margin-bottom: 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
    justify-content: space-around;
  }

  &__item {
    padding: 0 15px 10px 15px;

    &--active {
      color: #9d9d9d;

      .nav-filter__link {
        color: #9d9d9d;
      }

    }
  }

  &__link {
    font-size: 14px;
    color: $brown;
    transition: .3s;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    &:hover {
      color: #9d9d9d;
    }
  }
}

.big-wrapp {

  &__banner-cell {
    width: 100%;
    margin-bottom: 15px;
    min-height: 290px;
    padding: 0 13px;

    .banner {
      height: 100%;
      min-height: auto;
    }

  }
}

.name-page {
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }
  span {
    font-size: 10px;
    text-transform: uppercase;
    color: $brown;
    padding: 0 10px;
  }

  &:after {
    content: '';
    height: 1px;
    background: $brown;
    flex: 1;
  }

  &:before {
    content: '';
    height: 1px;
    background: $brown;
    flex: 1;
  }

  &--filter {

    .ico-filter {

      &:before {
        content: '';
        display: inline-block;
        margin: 0 0 0 15px;
        width: 11px;
        height: 11px;
        background: url('../images/ico-filter.png') no-repeat 50% 50%;
      }
    }
  }
}

.poster {

  &__inner {
    margin-bottom: 70px;

    @include to_width(767px) {
      margin-bottom: 0;
    }

  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__content {
    flex: 1;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;

    @include to_width(767px) {
      font-size: 16px;
    }
  }

  &__name {
    font-size: 28px;
    padding-bottom: 13px;
    font-weight: 900;
    line-height: 1.2;

    @include to_width(767px) {
      font-size: 18px;
    }
  }

  &__date {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.2;

    @include to_width(767px) {
      font-size: 16px;
    }
  }

  &__type {
    font-size: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;

  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 20px -15px;

    &:nth-child(2n+2) {

      .poster-slider {
        order: 2;
      }

      @include to_width(991px) {
        order: 1;
      }
    }

  }

  &__slider {
    padding: 0 15px;
    width: 66.666%;
    align-self: flex-start;

    @include to_width(991px) {
      width: 100%;
      order: 1;
      padding-bottom: 15px;
    }
  }

  &__data {
    padding: 0 15px;
    width: 33.333%;

    @include to_width(991px) {
      width: 100%;
      order: 2;
    }
  }
}

.poster-slider {

  .slick-prev {
    left: 25px;
    z-index: 2;
    height: auto;
    width: auto;
    display: block;
    transform: rotateY(180deg) translate(0, -50%);
  }

  .slick-next {
    right: 25px;
    z-index: 2;
    height: auto;
    width: auto;
    display: block;
  }

  .slick-arrow {

    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background: url("../images/arrow-slide.png") no-repeat 50% 50%;
    }
  }

  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    outline: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2)
    }
  }

  &--loading {
    overflow: hidden;
    position: relative;
    max-height: 374px;

    .poster-slider__item {
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.info-poster {
  flex: 1;
  color: #7f7f7f;
  font-size: 14px;
  display: flex;
  margin: 0 -8px;
  align-items: flex-end;
  justify-content: space-between;

  @include to_width($sm) {
    font-size: 14px;
  }

  &__date {
    padding: 0 8px;
  }

  &__count-view {
    padding: 0 8px;
    @include i;
    @include i-ico-eye-gray;

    &:before {
      margin-right: 10px;
    }
  }

  &__count-msg {
    padding: 0 8px;
    @include i;
    @include i-ico-msg-gray;

    &:before {
      margin-right: 10px;
    }
  }
}

.btn-filter {
  order: 3;
  margin-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  line-height: 1;

  &:hover {
    filter: grayscale(100%);
  }

  span {
    display: flex;

    &:before {
      content: '';
      margin-right: 10px;
      width: 11px;
      height: 11px;
      background: url('../images/ico-filter.png') no-repeat 50% 50%;
    }
  }
}

.select-filter {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @include to_width(991px) {
      margin-bottom: 10px;
      flex-wrap: wrap;
    }

    .form-group {
      width: 100%;
      max-width: 220px;
      position: relative;


      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #919191;
        right: 24px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 7px;
        right: 8px;
        width: 9px;
        height: 9px;
        border: 1px solid #919191;
        border-left-color: transparent;
        border-top-color: transparent;
        transform: rotate(45deg);
      }
    }

    select {
      width: 100%;
      height: 28px;
      padding: 0 22px 0 12px;
      font-size: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #919191;
    }
  }
}

.filter {
  position: relative;

  &__close {
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .4s;
    cursor: pointer;
    display: none;


    @include to_width(767px){
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #000;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: #000;
    }

    &:hover {
      transform: rotate(45deg);
      &:after,
      &:before {
        background: $brown;
      }
    }
  }

  .checbox {

    label {
      font-size: 9px;
      margin-bottom: 0;
      line-height: 1;

      @include to_width(767px) {
        font-size: 11px;
      }
    }
  }

  &__item {
    display: block;
  }

  &__name {
    margin-bottom: 13px;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    margin-right: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__ico {
    margin-right: 20px;
    transform: translateY(-2px);
  }

  &__inner {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    width: 100%;
  }

  &__cell {
    width: 50%;
    min-height: 245px;
    padding: 0 100px;
    margin-bottom: 20px;

    @include to_width(1209px) {
      padding: 0 15px;
    }

    @include to_width(767px) {
      width: 100%;
    }

    &:first-child {
      border-right: 1px solid #aeaeae;
      column-count: 2;

      @include to_width(767px) {
        column-count: 1;
        border-right: none;
        border-bottom: 1px solid #aeaeae;
      }

    }
  }

  &--open {

    @include to_width(767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 1000;
      height: 100%;
      min-height: 100vh;
      overflow-y: auto;
      padding: 0 15px;
    }

    .filter__inner {
      height: auto;
      padding: 40px 0;
      border: 2px solid $brown;
      margin-bottom: 25px;

      @include to_width(767px) {
        border: none;
        margin-bottom: 0;
        padding: 15px 0 50px 0;
      }
    }
  }
}

.total-result{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #be9450;
  color: #fff;
  text-transform: uppercase;
}