@mixin i() {
  &:before {
    content: "";
    display: inline-block;
    font-size: 10px;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.1em 88.8em;

    .no-svg & {
      background-image: url("../images/sprite.png");
    }
  }
}

[class*='i-'] {
  display: inline-block;

  &:before {
    @include i;
  }
}

@mixin i-ico-arrow-coarse() {
  &:before {
    background-position: -0.5em -0.5em;
    width: 1.9em;
    height: 1em;
  }
}

.i-ico-arrow-coarse {

  &:before {
    @include i-ico-arrow-coarse;
  }
}

@mixin i-ico-arrow-gray() {
  &:before {
    background-position: -0.5em -2.5em;
    width: 1.9em;
    height: 1em;
  }
}

.i-ico-arrow-gray {

  &:before {
    @include i-ico-arrow-gray;
  }
}

@mixin i-ico-eye--white() {
  &:before {
    background-position: -0.5em -4.5em;
    width: 1.0969000000000002em;
    height: 0.6em;
  }
}

.i-ico-eye--white {

  &:before {
    @include i-ico-eye--white;
  }
}

@mixin i-ico-eye-gray() {
  &:before {
    background-position: -0.5em -6.1em;
    width: 1.0780999999999998em;
    height: 0.6219000000000001em;
  }
}

.i-ico-eye-gray {

  &:before {
    @include i-ico-eye-gray;
  }
}

@mixin i-ico-fb() {
  &:before {
    background-position: -0.5em -7.8em;
    width: 0.5em;
    height: 1em;
  }
}

.i-ico-fb {

  &:before {
    @include i-ico-fb;
  }
}

@mixin i-ico-fb--gray() {
  &:before {
    background-position: -0.5em -9.8em;
    width: 0.6em;
    height: 1.2em;
  }
}

.i-ico-fb--gray {

  &:before {
    @include i-ico-fb--gray;
  }
}

@mixin i-ico-fb--hover() {
  &:before {
    background-position: -0.5em -12em;
    width: 0.5em;
    height: 1em;
  }
}

.i-ico-fb--hover {

  &:before {
    @include i-ico-fb--hover;
  }
}

@mixin i-ico-fb--white() {
  &:before {
    background-position: -0.5em -14em;
    width: 0.5em;
    height: 1em;
  }
}

.i-ico-fb--white {

  &:before {
    @include i-ico-fb--white;
  }
}

@mixin i-ico-google--gray() {
  &:before {
    background-position: -0.5em -16em;
    width: 1.5em;
    height: 1em;
  }
}

.i-ico-google--gray {

  &:before {
    @include i-ico-google--gray;
  }
}

@mixin i-ico-insta() {
  &:before {
    background-position: -0.5em -18em;
    width: 0.9em;
    height: 0.9em;
  }
}

.i-ico-insta {

  &:before {
    @include i-ico-insta;
  }
}

@mixin i-ico-insta--hover() {
  &:before {
    background-position: -0.5em -19.9em;
    width: 0.9em;
    height: 0.9em;
  }
}

.i-ico-insta--hover {

  &:before {
    @include i-ico-insta--hover;
  }
}

@mixin i-ico-insta--white() {
  &:before {
    background-position: -0.5em -21.8em;
    width: 0.9em;
    height: 0.9em;
  }
}

.i-ico-insta--white {

  &:before {
    @include i-ico-insta--white;
  }
}

@mixin i-ico-msg--white() {
  &:before {
    background-position: -0.5em -23.7em;
    width: 1em;
    height: 0.8em;
  }
}

.i-ico-msg--white {

  &:before {
    @include i-ico-msg--white;
  }
}

@mixin i-ico-msg-gray() {
  &:before {
    background-position: -0.5em -25.5em;
    width: 0.8280999999999998em;
    height: 0.6219000000000001em;
  }
}

.i-ico-msg-gray {

  &:before {
    @include i-ico-msg-gray;
  }
}

@mixin i-ico-partners() {
  &:before {
    background-position: -0.5em -27.2em;
    width: 3.1em;
    height: 2.6em;
  }
}

.i-ico-partners {

  &:before {
    @include i-ico-partners;
  }
}

@mixin i-ico-play() {
  &:before {
    background-position: -0.5em -30.8em;
    width: 2.7em;
    height: 2.7em;
  }
}

.i-ico-play {

  &:before {
    @include i-ico-play;
  }
}

@mixin i-ico-play--hover() {
  &:before {
    background-position: -0.5em -34.5em;
    width: 2.7em;
    height: 2.7em;
  }
}

.i-ico-play--hover {

  &:before {
    @include i-ico-play--hover;
  }
}

@mixin i-ico-prreloader() {
  &:before {
    background-position: -0.5em -38.2em;
    width: 2.7937em;
    height: 2.8063000000000002em;
  }
}

.i-ico-prreloader {

  &:before {
    @include i-ico-prreloader;
  }
}

@mixin i-ico-prreloader--hover() {
  &:before {
    background-position: -0.5em -42.1em;
    width: 2.7937em;
    height: 2.8063000000000002em;
  }
}

.i-ico-prreloader--hover {

  &:before {
    @include i-ico-prreloader--hover;
  }
}

@mixin i-ico-search() {
  &:before {
    background-position: -0.5em -46em;
    width: 1.2em;
    height: 1.2em;
  }
}

.i-ico-search {

  &:before {
    @include i-ico-search;
  }
}

@mixin i-ico-search--active() {
  &:before {
    background-position: -0.5em -48.2em;
    width: 1.2em;
    height: 1.2em;
  }
}

.i-ico-search--active {

  &:before {
    @include i-ico-search--active;
  }
}

@mixin i-ico-search--big-window() {
  &:before {
    background-position: -0.5em -50.4em;
    width: 1.9969999999999999em;
    height: 2em;
  }
}

.i-ico-search--big-window {

  &:before {
    @include i-ico-search--big-window;
  }
}

@mixin i-ico-small-black-logo() {
  &:before {
    background-position: -0.5em -53.4em;
    width: 3.1em;
    height: 2.7em;
  }
}

.i-ico-small-black-logo {

  &:before {
    @include i-ico-small-black-logo;
  }
}

@mixin i-ico-small-logo() {
  &:before {
    background-position: -0.5em -57.1em;
    width: 3em;
    height: 2.7em;
  }
}

.i-ico-small-logo {

  &:before {
    @include i-ico-small-logo;
  }
}

@mixin i-ico-subs-fb() {
  &:before {
    background-position: -0.5em -60.8em;
    width: 0.8905999999999998em;
    height: 1.8em;
  }
}

.i-ico-subs-fb {

  &:before {
    @include i-ico-subs-fb;
  }
}

@mixin i-ico-subs-fb--hover() {
  &:before {
    background-position: -0.5em -63.6em;
    width: 0.8905999999999998em;
    height: 1.8em;
  }
}

.i-ico-subs-fb--hover {

  &:before {
    @include i-ico-subs-fb--hover;
  }
}

@mixin i-ico-subs-google() {
  &:before {
    background-position: -0.5em -66.4em;
    width: 2.1em;
    height: 2.1em;
  }
}

.i-ico-subs-google {

  &:before {
    @include i-ico-subs-google;
  }
}

@mixin i-ico-subs-google--hover() {
  &:before {
    background-position: -0.5em -69.5em;
    width: 2.1em;
    height: 2.1em;
  }
}

.i-ico-subs-google--hover {

  &:before {
    @include i-ico-subs-google--hover;
  }
}

@mixin i-ico-subs-vk() {
  &:before {
    background-position: -0.5em -72.6em;
    width: 2.137em;
    height: 1.2625em;
  }
}

.i-ico-subs-vk {

  &:before {
    @include i-ico-subs-vk;
  }
}

@mixin i-ico-subs-vk--hover() {
  &:before {
    background-position: -0.5em -74.9em;
    width: 2.137em;
    height: 1.2625em;
  }
}

.i-ico-subs-vk--hover {

  &:before {
    @include i-ico-subs-vk--hover;
  }
}

@mixin i-ico-vk() {
  &:before {
    background-position: -0.5em -77.2em;
    width: 1.1969999999999998em;
    height: 0.7em;
  }
}

.i-ico-vk {

  &:before {
    @include i-ico-vk;
  }
}

@mixin i-ico-vk--gray() {
  &:before {
    background-position: -0.5em -78.9em;
    width: 1.5030999999999999em;
    height: 0.9em;
  }
}

.i-ico-vk--gray {

  &:before {
    @include i-ico-vk--gray;
  }
}

@mixin i-ico-vk--hover() {
  &:before {
    background-position: -0.5em -80.8em;
    width: 1.1969em;
    height: 0.7em;
  }
}

.i-ico-vk--hover {

  &:before {
    @include i-ico-vk--hover;
  }
}

@mixin i-ico-vk--white() {
  &:before {
    background-position: -0.5em -82.5em;
    width: 1.1969em;
    height: 0.7em;
  }
}

.i-ico-vk--white {

  &:before {
    @include i-ico-vk--white;
  }
}

@mixin i-ico-ytb() {
  &:before {
    background-position: -0.5em -84.2em;
    width: 1em;
    height: 0.7em;
  }
}

.i-ico-ytb {

  &:before {
    @include i-ico-ytb;
  }
}

@mixin i-ico-ytb--hover() {
  &:before {
    background-position: -0.5em -85.9em;
    width: 1em;
    height: 0.7em;
  }
}

.i-ico-ytb--hover {

  &:before {
    @include i-ico-ytb--hover;
  }
}

@mixin i-ico-ytb--white() {
  &:before {
    background-position: -0.5em -87.6em;
    width: 1em;
    height: 0.7em;
  }
}

.i-ico-ytb--white {

  &:before {
    @include i-ico-ytb--white;
  }
}
