// Fonts

$f-main: "Circe", "Arial ", "Verdana", sans-serif;


// grid
$md: 1209px;
$sm: 991px;
$ssm: 767px;
$xs: 575px;

$brown : #be9450;
$green : #339933;

//$footer-bg: #2877b2;
//$orange: #2877b2;
//$color-text: #333333;
//$color-menu-text: #f27f5c;
//$color-sub-menu-text: #3d3d3d;
//
//$link-color: #333333;
//$link-color-hover: #333333;
//
////
//$color-text-accent: $link-color-hover;