@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow-x: hidden;

  }

  .wrapper{
    display: block;
  }

  .header-btm{

    &__inner{
      min-height: auto;
    }
  }

  .main {
    display: block;
    flex: none;
  }

  .small-item{

    &__inner{
      display: block;

      & > a,
      & > div{
        display: block;
      }
    }
  }
}